.blog-post {
  margin-bottom: 100px;

  &.hidden {
    border: 1px solid red;
    padding: 10px;
  }

  .featured-image {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 300px;

    @media only screen and (max-width: 780px) {
      width: 200px;
      height: 200px;
    }

    @media only screen and (max-width: 480px) {
      float: none;
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .blog-post-header {
    color: white;
    color: #555;
    font-weight: 400;
    margin-bottom: 20px;

    h1 {
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 1.75em;
      color: $dark-gray;
    }

    .blog-post-date {
      font-size: 12px;
      margin-top: 2px;
      font-style: italic;
    }
  }

  .blog-post-actions {
    margin: 10px 0;
    a {
      color: #555;
      &:visited {
        color: #555;
      }
    }

    .edit-actions {
      margin: 10px 0;
    }
  }

  .blog-post-body {
    display: block;
    color: #555;
    font-size: 15px;
    line-height: 2em;
    text-align: justify;

    h2 {
      margin-top: 50px;
    }

    a {
      font-weight: bold;
      text-decoration: underline;
    }

    .blog-post-image {
      text-align: center;
      margin: 10px 0;

      img {
        max-width: 100%;
      }
    }

    code {
      background: $pale-gray;
    }

    pre code {
      width: calc(100% - 40px);
      word-wrap: normal;
      word-break: normal;
      white-space: pre;
      display: block;
      padding: 20px;
      line-height: 1.5em;
      border: 1px solid #eee;
      border-radius: 2px;
      overflow: scroll;
      background: $pale-gray;
    }

    table {
      width: 100%;
      max-width: 650px;
      border-collapse: collapse;
      margin: 40px auto;
      text-align: left;

      thead {
        tr {
          border-bottom: 2px solid $gray;

          th {
            font-family: "Avenir LT Std";
            font-weight: 85;
            padding: 10px 10px;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $gray;

          td {
            padding: 15px 10px;
          }

          &:nth-child(odd) {
            background: $pale-gray;
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .author {
    margin-top: 40px;

    @include clear-floats-container;

    .avatar-container {
      float: left;
      width: 40px;

      img {
        width: 100%;
        border-radius: 40px;
      }
    }
    .author-info {
      float: left;
      width: calc(100% - 60px);
      padding-left: 10px;

      .full-name {
        font-size: 1.5em;
      }

      .job-title {
        font-size: 0.8em;
        color: $gray;
        text-transform: uppercase;
      }
    }
  }
}
