// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog-posts-index {

  .blog-post {

    .expandable-container {
      max-height: 750px;
      overflow: hidden;
      position: relative;

      @media only screen and (max-width: 480px) {
        max-height: 1000px;
      }

      .expandable-container-bottom-bar {
        background: red;
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;

        display: flex;
        align-items: flex-end;
        justify-content: start;

        // border: 1px solid black;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+30,ffffff+30&0+1,1+30 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

        a.read-more {
          margin-top: 40px;
          text-decoration: none;
          font-weight: bold;
          display: inline-block;
          font-style: italic;
        }

      }
    }
  }
  
}
