#blog-posts-show {
  h1 {
    margin-bottom:5px;
  }
  h2 {
    text-align:center;
    font-size:1em;
    margin:0;
    margin-bottom:20px;
    font-style:italic;
  }

  .blog-post-image {
    text-align:center;
    margin:10px 0;

    img {
      max-width:100%;
    }
  }

  .actions {
    margin: 10px 0;
  }
}