#blog-posts-show {

  padding-top: 50px;

  .featured-image {
    float:right;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 300px;
  }

  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom:5px;
  }

  h2 {
    font-size:1em;
    margin:0;
    margin-bottom:20px;
    font-style:italic;
  }

  .blog-post-image {
    text-align:center;
    margin:10px 0;
    line-height

    img {
      max-width:100%;
    }
  }

  .blog-post-body {
    font-size:15px;
    line-height: 2em;
  }

  code {
    width: calc(100% - 40px);
    word-wrap: normal;
    word-break: normal;
    white-space: pre;
    display: block;
    padding: 20px;
    line-height: 1.5em;
    border: 1px solid #eee;
    border-radius: 2px;
    overflow: scroll; 
    background: $pale-gray;
  }

  .actions {
    margin: 10px 0;
  }
}