{
  "extends": ["wesbos"],
  "overrides": [
    {
      "files": ["app/javascript/**"]
    }
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 130,
        "tabWidth": 2
      }
    ]
  }
}
