.bundle
db/*.sqlite3*
config/database.yml
*.dump
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store
.sass-cache/*
.env
public/uploads/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
