<div id="downloads-show">
  <div class="container">
    <div class='download-box'>
      <div class='message'>Thanks for submitting your information!</div>
      <div class='sub-message'>Click the button below to download your file.</div>
      <%= link_to "Download #{@download.name}", @url, class: 'download-btn' %>  
    </div>
  </div>
</div>
