<div class="wedding-hero">
	<div class="container">		
		<%= image_tag "logowedding.png", :class => "wedding-logo" %>
		<div class="wedding-hero-description">	
			BITESITE IS AN OTTAWA-BASED COMPANY SPECIALIZING
			IN WEB DESIGN, WEB DEVELOPMENT, IOS DEVELOPMENT,
			PHOTOGRAPHY, FILM, AND GRAPHIC DESIGN.
		</div>
		<%= link_to "CONTACT US", "#", :class => "contact-us-hero wedding-contact-us-hero contact-link" %>
	</div>
</div>