<div class="page-section wedding-services-section">
	<div class="container">
		<h1>COMING SOON!</h1>
		<div class="wedding-description center">
			The dedicated BiteSite Wedding Portal is coming soon.<br>
			While you wait, please feel free to contact us below to inquire about our <b>Photography</b>, <b>Video</b>, and <b>Web Design</b> services<br>
			or stop by our main site <%= link_to "here", "/" %>.
		</div>
	</div>
</div>