<div class="page-section wedding-contest-section">		
	<div class="container">
		<div class="wedding-contest">
			<h1>Wedding Video Contest 2013</h1>
			<% if admin? %>
				<%= link_to "View Contestants", "/contests" %>
			<% end %>
			
			
			<div class="video-contest-winners">
				<div class="center">
					<%= image_tag "tharieandandrew.jpg", :class => "winners-pic" %>										
				</div>
				<div class="congratulations center">
					Congratulations to the Winners of our<br> Wedding Video Contest 2013!					
				</div>
				<div class="winners center">
					Tharie Vong and Andrew Ouellette
				</div>

				<div class="center contest-closed">
					The Contest is Now Closed! Thanks to all who entered!<br>
					For those getting married in 2014, be sure to check back often for our 2014 contest!
				</div>
			</div>
			

			
		</div>
		
	</div>	
</div>