<div class="container wedding-video-samples-section">

  <h1>Video Samples</h1>

  <div class="wedding-video-samples">
    <div class="wedding-video-sample">
      <a href="//fast.wistia.net/embed/iframe/8iozz3smof?popover=true" class="wistia-popover[height=540,playerColor=7b796a,width=960]"><img src="https://embed-ssl.wistia.com/deliveries/da05f74fa36a374072b3dde3ea931c712d420b00.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=460x259" alt="" /></a>
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
      <div class="title">
        Tharie & Andrew 2013
      </div>
    </div>

    <div class="wedding-video-sample">
      <a href="//fast.wistia.net/embed/iframe/1o3t31nsmm?popover=true" class="wistia-popover[height=540,playerColor=7b796a,width=960]"><img src="https://embed-ssl.wistia.com/deliveries/eaa0f28fc06f51b6697300bcf629377dce43a293.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=460x259" alt="" /></a>
      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
      <div class="title">
        Chris & Hana 2012
      </div>
    </div>
    <div class="clear"></div>
  </div>



  

</div>
