<%= javascript_pack_tag "blog" %>


<div id="blog-posts-index">
  <div class="container">
  <div id='blog-page-component-mount-point' data-blog-posts='<%= @blog_posts.to_json %>'></div>
  <%= render @blog_posts %>
  <%= will_paginate @blog_posts %>
</div>