<%= javascript_pack_tag "comments" %>
<%= javascript_pack_tag "blog_post" %>

<div id="blog-posts-show">
  <div id='blog-post-component-mount-point' data-blog-post-id="<%= @blog_post.id %>"></div>
</div>
