<div id="blog-posts-show">

  <%= render @blog_post %>

  <div class="actions">
    <% if admin? %>
      <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
    <% end %>
    <%= link_to 'Back to The BiteSite Blog', blog_posts_path %>
  </div>
</div>
