// Place all the styles related to the Careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.careers-index {

  .current-listings {
    list-style:none;
    padding-left:0;
    li {
      margin:5px 0;
    }

    border-bottom: 1px solid #ddd;
  }


  .career {

    

    .career-header {
      text-align: center;
      margin-bottom: 30px;
  
      h2 {
        font-family: 'Avenir LT Std';
        font-weight: 85;
        font-weight:bold;
        font-size: 2em;
        margin-bottom: 15px;
      }

      .career-date {
        font-size: 14px;
        margin-top: 5px;
      }
    }

    &.archived {
      border:1px solid red;
    }
    .page-anchor {
      display:block;
      padding-top:64px;
    }
    
    

    h3 {
      font-family: 'Avenir LT Std';
      font-weight: 85;
      font-size: 16px;
      margin:0;
      text-transform: uppercase;
    }

 

    .career-body {
      line-height: 2em;
      margin-bottom:20px;

      .emphasize {
        font-family: 'Avenir LT Std';
        font-weight: 85;
      }
    }


  }


}