// Place all the styles related to the Careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.careers-index {

  .page-index {
    list-style:none;
    padding-left:0;
    li {
      margin:5px 0;
    }
  }


  .career {

    &.archived {
      border:1px solid red;
    }
    .page-anchor {
      display:block;
      padding-top:64px;
    }
    margin-bottom:20px;

    &:nth-child(even) {
      background:#f3f3f3;  
    }
    
    
    h2 {
      font-family: 'Avenir LT Std 85 Heavy';
      font-weight:bold;
      text-align:center;
    }

    h3 {
      font-family: 'Avenir LT Std 65 Medium';
      margin:0;
      text-align:center;
    }

    .career-date {
      text-align:center;
    }

    .career-body {
      .emphasize {
        font-family: 'Avenir LT Std 85 Heavy';
      }
    }


  }


}