a.btn, .btn {  
  display:inline-block;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-size: 14px;
}

.btn-sm {
  font-size:0.8em;
  padding:5px 10px;
}

.btn-primary {
  background: $primary-color;
  color: white;

  &:hover {
    background: $light-primary-color-1;
    color:white;
  };
}

.btn-ghost {
  background: transparent;
  color: $primary-color;

  &:hover {
    background-color: $light-primary-color-1;
    color: white;
  }
}

a.standard-button {
  line-height: 40px;
  font-size: 12px;
  padding: 10px 20px 10px 20px;


  &:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }
}

.standard-button {
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  background-color: #333;
  color: #888;
  text-decoration: none;

}