$dark-aqua: #414b52;
$aqua: #00899b;
$light-aqua: #0ebad1;

$pale-gray: #f1f1f1;
$dark-gray: #333333;

$pale-red: #ffd6d6;
$dark-red: #840000;

/* New Colors */
$light-primary-color-2: #b3dbe6;
$light-primary-color-1: #40a8bf;
$primary-color: #004251;
$dark-primary-color-1: #00151a;

$primary-gray: #a3bcc2;

$light-gray-3: #eeeeee;
$light-gray-2: #d8d8d8;
$light-gray-1: #a1a1a1;
$gray: #6b6b6b;

/* New Colors for New Design 2022*/
// Primary
$primary-darkest-color: #004251;
$primary-default-color: #2a7f89;
$primary-light-color: #4fa1a6;
$primary-lighter-color: #58b3b8;
$primary-muted-color: #71b5be;

// Accent
$pale-red-default-color: #fb837a;
$pale-red-dark-color: #d7595a;

// Shades
$darkest-gray: #394243;
$dark-gray: #888e8e;
$light-gray: #c4c6c7;
$lightest-gray: #f3f5fa;
$light-shadow: #616869;
$light-white: #ffffff;
