$dark-aqua:#414b52;
$aqua: #00899b;
$light-aqua: #0ebad1;

$pale-gray: #f1f1f1;
$dark-gray: #333333;

$pale-red: #ffd6d6;
$dark-red: #840000;



/* New Colors */
$light-primary-color-2: #b3dbe6;
$light-primary-color-1: #40a8bf;
$primary-color: #004251;
$dark-primary-color-1: #003440;
$dark-primary-color-2: #001f26;
$dark-primary-color-3: #00151a;
$dark-primary-color-4: #000a0d;

$primary-gray: #a3bcc2;

$light-gray-2: #d8d8d8;
$light-gray-1: #a1a1a1;
$gray: #6B6B6B;