/* Flash */
.flash {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background: white;
  z-index: 1001;
  color: #222;
  border: 1px solid gray;
  border-top: none;
  padding: 15px 20px;
  background: $light-gray-3;
  box-shadow: 2px 2px 10px $gray;
  border-radius: $border-radius;
}
.error, .notice {
  color: #fff;
}

.error {
  background-color: #e57373;
}

.success {
  border-color: #81C784;
}

.notice {
  color: #444;
  border-color: #90A4AE;
}

.close-flash-container {
  float: right;
  margin-right: 5px;
}