/* General */

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica Neue";
  font-weight: 300;
  letter-spacing: 0.3px;
  position: relative;
  color: $darkest-gray;
}

.fixed-nav {
  padding-top: 43px;
}

.clear-floats,
.clear,
.clr {
  clear: both;
}

ul {
  li {
    margin-bottom: 5px;
  }
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

/* Modal Dialogs */

table.dialog tr td {
  vertical-align: top;
  font-size: 0.8em;
}

.modal-dialog {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-image: url("/assets/background-trans.png");
}

.modal-dialog-body {
  position: relative;
  width: 500px;
  left: 50%;
  margin: 100px -265px;
  background-color: #eeeeee;
  border: 10px solid #fff;
  padding: 15px;
  border-radius: 10px;
  color: #111;

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
    padding: 0px;
    margin: 5px 0 0 0;
  }
}

.modal-dialog-actions {
  text-align: right;
  padding: 10px 0 10px 0;
}

.ajax-loader {
  vertical-align: middle;
}

/* Generic Blank Pages */

.blank-page-navigation-bar {
  background: #414b52;
  width: 100%;
  z-index: 1000;
  position: fixed;
  box-shadow: 0px 2px 5px #888;
}

.blank-page-nav-links {
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  a {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 2px;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;

    &:hover {
      color: #ccc;
      border-radius: 30px;
    }
  }
}

img.img-responsive {
  width: 100%;
}
