$mobile-menu-device-width: 745px;
$medium-device-width: 900px;
$mobile-device-width: 625px;

$border-radius: 3px;
$transition: 200ms;

@mixin clear-floats-container {
  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
