a {
  border: none;
  color: $primary-color;
  transition: $transition;
  text-decoration: none;
  font-style: italic;

  &:hover {
    color: #000;
  }
}

// ------------------------------------------New Links ------------------------------------------

a {
  color: $darkest-gray;
  transition: $transition;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 18px;
  letter-spacing: 0.3px;
  font-style: normal;

  &:hover {
    color: $primary-lighter-color;
  }
  &.selected {
    color: $primary-default-color;
  }
}
