/* Text */
h1 {
  margin:40px 0px;
  text-align:center;
  font-family: 'Avenir LT Std 85 Heavy';
  font-size:1.5em;
  color:#555;
}

h2 {
  padding:0px;
  margin: 0px;
}

h3 {
  color:#555;
}

p {
  color:#555;
}

/* Markdown */
strong {
  font-family: 'Avenir LT Std 85 Heavy';
}