/* Text */
body {
  color: $gray;
}

h1 {
  margin:40px 0px;
  font-family: 'Avenir LT Std';
  font-weight: 85;
  font-size:1.5em;
  color:#555;

  &.section-header {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;

    .text {
      color: white;
      font-size: 30px;
      display: inline-block;
      padding: 15px 30px 15px 0px;
      text-transform: lowercase;
      position: relative;
      z-index: 2;
      width: 250px;
      text-align: center;
    }

    .background-extension {
      height: 100%;
      width: 20px;
      background: $light-gray-2;
      position: absolute;
      top: 0;
      right: 0;
      width: 1000px;
      z-index: 1;
      box-shadow: 2px 2px 4px $gray;
    }
  }
}

h2 {
  padding:0px;
  margin: 20px 0;
  font-family: 'Avenir LT Std';
  font-weight: 85;
  font-size:1.25em;
}

h3 {
  color:#555;
  font-family: 'Avenir LT Std';
  font-weight: 85;
}

p {
  color:#555;
}

.spaced {
  line-height: 30px;
}

.center-aligned {
  text-align: center;
}

b, strong {
  font-family: 'Avenir LT Std';
  font-weight: 85;
}