/* Text */
body {
  color: $gray;
}

h1 {
  margin: 40px 0px;
  font-family: "Avenir LT Std";
  font-weight: 85;
  font-size: 1.5em;
  color: #555;

  &.section-header {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;

    .text {
      color: white;
      font-size: 30px;
      display: inline-block;
      padding: 15px 30px 15px 0px;
      text-transform: lowercase;
      position: relative;
      z-index: 2;
      width: 250px;
      text-align: center;
    }

    .background-extension {
      height: 100%;
      width: 20px;
      background: $light-gray-2;
      position: absolute;
      top: 0;
      right: 0;
      width: 1000px;
      z-index: 1;
      box-shadow: 2px 2px 4px $gray;
    }
  }
}

h2 {
  padding: 0px;
  margin: 20px 0;
  font-family: "Avenir LT Std";
  font-weight: 85;
  font-size: 1.25em;
}

h3 {
  color: #555;
  font-family: "Avenir LT Std";
  font-weight: 85;
}

p {
  color: #555;
}

.spaced {
  line-height: 30px;
}

.center-aligned {
  text-align: center;
}

b,
strong {
  font-family: "Avenir LT Std";
  font-weight: 85;
}

/* New Design */

.heading-extra-large {
  font-size: 64px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.heading-large {
  font-size: 48px;
  line-height: 62.4px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.heading-regular {
  font-size: 36px;
  line-height: 46.8px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.heading-small {
  font-size: 24px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

/* Subheader */

.medium {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.light {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

/* Body */
.body-large {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.body-medium {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.body-regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

/* Body Small*/
.body-small-bold {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.body-small-bold {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.body-small-medium {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.body-small-light {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.3%;
}

/* Captions */
.caption-bold {
  font-size: 12px;
  line-height: 14.65px;
  font-weight: 700;
  letter-spacing: 0.3%;
}

.caption-medium {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.caption-light {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.003em;
}

.bold {
  font-weight: 700;
}

.links {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
