<h1>Coming soon</h1>

<p>
  Our open-source playbook is a new undertaking for us and will be heavily in development for the next while.
  Check back frequently for sections like this to be fleshed out.
</p>