<div id="playbook-pages-custom-software">
  <h1>Custom Software</h1>

  <h2>What exactly is Custom Software?</h2>

  <p>
    Admittedly, it took us awhile to settle on this term and both customers and staff
    are not always clear what it means. A lot of customers and staff haven't even heard
    the term before they came across BiteSite.
  </p>

  <p>
    Custom Software is basically software that is developed specifically for one customer.
    It is almost akin to a Bespoke piece of clothing, or a custom kitchen. It is a product
    that doesn't exist when you walk in our door, but that you sit down with us and build
    it with us to end up with something that was built specifically for you and your needs.
  </p>

  <p>
    So how come you don't call it Web Development or Mobile Development? While these are our
    specialties, the term Custom Software opens up the potential solutions we can come up with.
    If after talking with you we decide that a Mobile Application is best to solve your problem,
    we go with that. However, we might discover that the best thing to do is to build some
    integration. Web, Mobile, Desktop...these are all just the media that we can select to execute
    the solution and determining what medium is the best is part of the Custom Software discussion.
  </p>

  <h2>So does BiteSite do Web Application and Mobile Application development?</h2>

  <p>
    Yes. In fact, these two are our specialty. Our staff our software engineers and are capable
    of many different types of software development, but Web and Mobile is where we shine. That
    being said, part of our process is figuring out what might be the best route to solve your
    problem. The answer might be a Web Application. The answer might be a Mobile application. The
    answer might be something else like building a small integration, a desktop application, or
    even using existing software. Again, Web and Mobile are our media of choice, but Custom
    Software is all about figuring out what the best solution to the problem is.
  </p>

  <h2>What are the alternatives to Custom Software</h2>

  <p>
    We believe that our customers should really only arrive at Custom Software after they've
    considered the alternatives. In fact, we even recommend going with the alternatives in a lot
    of cases. Here's a brief breakdown of what we see as the alternatives:
  </p>

  <table class='resource-table'>
    <thead>
      <td></td>
      <td>Description</td>
      <td>Pros</td>
      <td>Cons</td>
    </thead>
    <tbody>
      <tr>
        <td>Non-Software Solution</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
        <td>Mass Market Software</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
        <td>Small Market Software</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
        <td>Custom Software</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
        <td>Coming Soon</td>
      </tr>
    </tbody>
  </table>
</div>