<div id="playbook-pages-customers">
  <h1>Customers</h1>

  <p>
    Ultimately, our potential customers are anybody that wants to pay us to develop software for them.
  </p>

  <p>
    That being said, there are a couple scenarios that our customers typically fall into and there is definitely
    some criteria that makes things go smoother.
  </p>

  <h2>Typical Customers</h2>

  <p>
    Typically, our customers fall into a couple of scenarios:
  </p>

  <h3>Small to Medium Business looking to improve their business</h3>
  <p>
    Some of our biggest customers are small to medium businesses who realize that software can improve their business.
    It's the realization that if they don't take advantage of technology, their business could fall behind, or if they
    do, they could pull ahead and even lead their industry. While the vision is big, even a little amount of software
    can make a big different. Here are a couple of problems Custom Software can solve for these types of customers

    <ul>
      <li>
        The business has a manual process that needs to be made more efficient. Perhaps there is too much pen
        and paper. Perhaps there is too much manual data entry or copying and pasting. Perhaps there is too much
        room for human error.
      </li>
      <li>
        The business has software tools, but they don't meet the businesses needs or special conditions.
      </li>
    </ul>
  </p>

  <h3>Software Startup Company with no Technology Team</h3>

  <p>
    Somtimes, Software Startup companies are founded by people with amazing skills, amazing vision - and are just
    missing one piece - the development piece. You may have a couple of founders who understand the industry, understand
    the market, but need a software partner to develop the applications involved. BiteSite's goal with these companies
    is to show them what good software development looks like so that they can grow their team and eventually
    stand on their own two feet. We become an integrated partner until the company is ready to grow and start
    adding their own software developers.
  </p>

  <h2>What we look for in a customer</h2>

  <p>
    We mentioned at the top of this page that our <i>potential</i> customers are ultimately anyone who wants to pay
    us to develop software for them. However, we say <i>potential</i>, because not every customer is right for BiteSite
    nor is every project. 
  </p>
  
  <p>
    Here's what we look for in a customer:

    <ul>
      <li>
        We like customers where there is a mutual respect.
      </li>
      <li>
        We like customers that are a complement to our skillset. We love working with customers who are great at doing things that
        we're not good at and vice versa.
      </li>
      <li>
        We like customers who are willing to dedicate the time and be involved in our development process. Specifically, we like
        customers who can be product managers in our <%= link_to 'Scrum Express', playbook_scrum_express_path %> process.
      </li>
      <li>
        We like customers who are open to the philosophies behind <%= link_to 'Scrum Express', playbook_scrum_express_path %> and
        who are not set in legacy processes.
      </li>
      <li>
        More coming soon.
      </li>
    </ul>
  </p>

  <p>
    And here's what we look for in a project:

    <ul>
      <li>
        We love projects that have a very clear MVP (Minimum Viable Product). We don't like projects that would take
        years to build before benefit is seen. In fact, we love when we can picture building something within days that
        would bring benefit
      </li>
      <li>
        We like projects that are built on existing needs or wants, or even better - an existing business.
      </li>
      <li>
        More coming soon.
      </li>
    </ul>
  </p>
</div>