<div id="playbook-pages-development-sprint">
  <h1>Development Sprint</h1>

  <p>
    Scrum Express centers around fixed, predictable chunks of development called Sprints. Our typical
    development sprint is depicted below.
  </p>
  <%= image_tag 'playbook/Scrum-Express-Development-Sprint.jpg' %>

  <p>
    (The diagram above and descriptions below give a high level overview of how Scrum Express
    is run. However, it can be tricky to manage this process without a good tool. We use
    Trello and after reading the high level overview below, be sure to check out 
    <%= link_to "How we use Trello", playbook_how_we_use_trello_path %> to manage Scrum Express.)
  </p>

  <h2>Stages</h2>

  <h3>Sprint Planning</h3>
  <p>
    Every Sprint starts with a Sprint planning session. This is usually a 15 to 30 minute
    meeting where the entire team decides what is going to be developed, tested, and
    delivered within the Sprint. A lot of times this involves simply picking cards
    from the top of the Product Backlog and putting them into the Sprint.
  </p>

  <p>
    Aside from the top of the Product Backlog, the team also takes a look at any
    last minute Incoming Feedback cards that came in that can be slotted in. This
    usually involves high priority, or urgent cards.
  </p>

  <p>
    To decide how many cards to put into the Sprint, the team can track a general
    velocity - the number of points the team generally delivers. For a more
    detailed breakdown of points, take a look at Estimation Poker.
  </p>

  <p>
    Once the Sprint is planned, in general the goal is to <b>not</b> touch what
    is in the Sprint. The creates a predictable week of development, testing, and
    deployment.
  </p>

  <h3>Main Development</h3>
  <p>
    After the Sprint has been planned, the developers start taking cards from
    the Sprint and start their work. They make all the necessary code changes,
    review each others' code, prepare test notes, and prepare the feature to
    be shipped to staging.
  </p>

  <h3>Aim to Ship to Staging</h3>
  <p>
    The Staging application is an entire copy of the application meant specifically
    for testing new features. As developers code their features, their goal
    is to have their first version of the feature up on the Staging server
    about halfway through the Sprint. While not all cards will be done at this
    time, the goal of the developers is to have a good chunk of the work done
    so that the Product Managers can start their testing.
  </p>

  <h3>Testing and Fixing</h3>
  <p>
    As Product Manager start to test the new features, there are two outcomes.
    Either the features will be acceptable and will be approved, or the features
    will need some tweaks. If the features need tweaks, the product managers
    will send it back to the developers to fix anything that needs fixing. This
    cycle continues until everything gets approved.
  </p>

  <h3>Everything Approved for Production</h3>
  <p>
    The goal by the end of the Sprint is that all cards have been tested and
    approved by the Product Managers.
  </p>

  <h3>Ship to Production</h3>
  <p>
    After everything has been approved, the Production Shipper will ship
    all the features of the Sprint to the live production application ready
    for the public users to consume.
  </p>

  <h3>Sprint Demo</h3>
  <p>
    After the Sprint has been delivered, it's a time to celebrate. On bigger projects, 
    one of the members assigned as the Sprint Presenter will put together a presentation
    to show the team everything that has been shipped. On smaller projects,
    the Sprint Demo is just a verbal recap of everything that has been shipped.
  </p>

  <p>
    Because Scrum Express is a cyclical process, the Sprint Demo is usually combined
    with the Sprint Retro, and Sprint Planning for the next Sprint in one meeting.
  </p>

  <h3>Sprint Retro</h3>
  <p>
    Sprint Retro is usually a short verbal meeting where the team talks about how the
    Sprint went, any difficulties, and any potential improvements. Sprint Retro in
    Scrum Express focuses on processes improvements rather than specific features.
  </p>

  <h3>Product Management Meeting</h3>
  <p>
    The Product Management meeting is a weekly meeting that can happen at any point during
    the Sprint. It is a regular meeting where Product Managers groom the backlog. On bigger projects
    this is a 1 hour meeting (and sometimes happens more than once a week) 
    and on smaller projects it is typically 30 minutes. (More coming soon).
  </p>

  <h3>Estimation Poker</h3>
  <p>
    Estimation Poker is 30-60 minute weekly meeting that can happen at any point during the Sprint but tends to
    work better the closer it is to the end of the Sprint (or beginning of the next Sprint). During
    Estimation Poker, developers get together and go through any newly added card in the Backlog that
    have not been estimated yet. The developers vote on how many "points" a card is worth in terms
    of efforts. We set our points at

    <ul>
      <li>0.5 pts - 30 minutes or less of initial development</li>
      <li>1 pts - 30 to 60 minutes of initial development</li>
      <li>2 pts - 2 to 4 hours of initial development</li>
      <li>4 pts - 4 to 8 hours of initial development</li>
      <li>8 pts - 8 to 12 hours of inital development</li>
    </ul>

    If any card is worth more than 8 hours, it should either be an "off-sprint" card (read below) or split
    up into smaller cards.
  </p>

  <h2>Exceptions</h2>

  <h3>Missing the Sprint</h3>
  <p>
    Coming soon.
  </p>

  <h3>Hotfixes</h3>
  <p>
    Coming soon.
  </p>

  <h3>Off-Sprint Cards</h3>
  <p>
    Coming soon.
  </p>

  <h3>Closed Sprints</h3>
  <p>
    Coming soon.
  </p>

  <h3>Headstart Cards</h3>
  <p>
    Coming soon.
  </p>
</div>