<div id="playbook-pages-home">
  <h1>The BiteSite Playbook</h1>

  <div>
    <p>
      One of the companies we highly respect (and aspire to be like) is 
      <%= link_to 'ThoughtBot', 'https://www.thoughtbot.com'%> and one of
      the best things they ever did was openly publish their Playbook. Not only
      did it put everyone involved on the same page, but it also showed companies
      like us how the 'big players' do things. It also gave us validation
      since we were doing a lot of the same things already.
    </p>

    <p>
      Inspired by their actions, we are putting our everyday practices
      in this openly available playbook. By having this document, we think

      <ul>
        <li>It will help other companies improve their own processes</li>
        <li>It will help new clients understand what it's like to work with us</li>
        <li>It will help us attact and sell to new clients</li>
        <li>It will help us attact new employees</li>
        <li>It will help us on-board new employees</li>
        <li>It will act as a good reference for our existing team</li>
        <li>It will act as a good reference for existing clients</li>
      </ul>
    </p>
  </div>
</div>