<div id="playbook-pages-home">
  <div class="container">
    <h1>Playbook</h1>

    <div>
      <p>
        One of the companies we highly respect (and aspire to be like) is 
        <%= link_to 'ThoughtBot', 'https://www.thoughtbot.com'%> and one of
        the best things they ever did was openly publish they Playbook. Not only
        did it put everyone involved on the same page, but it also showed companies
        like us how the 'big players' do things. It also gave us validation
        since we were doing a lot of the same things already.
      </p>

      <p>
        Inspired by their actions, we are putting our everyday practices
        in this openly available playbook. By having this document, we think it'll
        help our team members, our clients, and anyone else invovled operate
        in the best way possible.
      </p>

      <p>
        This is a constantly evolving document, so check back regularly.
      </p>
    </div>

    <div>
      <h2>Our Contracts</h2>

      <p>
        Over our many years in developing software, we've learned a lot, but one
        of the biggest conclusions we've come to is this: no one can predict
        software development. In fact, we think the more you try to predict
        what a piece software will be, how it will look, or what it will do,
        the worse the software turns out. This philosophy is behind a lot
        of modern software design principles such as those practiced in Agile
        development. It's more important to develop iteratively and get feedback
        than to try to predict lengthy development through assumptive documentation.
      </p>

      <p>
        As such, we don't do fixed-price, fixed-deliverable contracts. We do 
        time-based contracts. Concretely, we set up $150.00/hr + applicable taxes
        contracts with pretty minimal terms.
      </p>

      <p>
        Now we know telling the client - "Let's just see how things go, and you
        pay us $150.00/hr every month" is not very helpful. Clients have fixed
        budgets and concerns about what they get for their money. As a result,
        in early stages, until we earn the trust of our clients, we provide
        estimates and explain work before we just begin. We'll also constantly
        check-in to work within clients' budgets to ensure they are happy.
      </p>

      <p>
        There is also an unspoken rule that BiteSite developers, designers, and
        managers, will do their best to maximize the client's dollar. We're really
        in this together and if clients are not happy with what we produce, then
        they'll stop working with us, and we'll be without work.
      </p>

      <p>
        Throughout, we strive for open, honest, and frequent communication so that
        clients are never surprised what they pay.
      </p>
    </div>
  
    <div>
      <h2>How we work</h2>

      <p>
        Our clients really fall into three categories each with their own workflows.
      </p>

      <h3>Starter Projects</h3>

      <p>
        When clients work with us for the first time, we usually set up a Starter Project. While all
        our contracts are setup to be open-ended, for first time clients, we usually like to define
        a set of some concrete short-term goals. Typically, these projects are setup to be about
        <b>1-3 months</b> and have a short list of features. These projects can sometimes be viewed
        as a Minimal Viable Product (MVP).
      </p>

      <p>
        For these style of projects, a general timeline is set out and on-demand meetings, checkins
        are setup.
      </p>

      <h3>Maintenance Projects</h3>

      <p>
        After a starter project, most clients end up in Maintenance. In this category, clients typically
        contact us 6 to 12 times a year with small fixes, or new features here and there.
      </p>

      <h3>Integrated Projects</h3>

      <p>
        Our biggest and best projects (and ones we strive to get all clients onto) are integrated clients.
        We use the word 'integrated' to describe the nature of BiteSite and the clients' company - we act
        as an integrated company.
      </p>

      <p>
        For these projects, we use a modified Scrum process. This process has been designed from a
        traditional Scrum process but tweaked based on our years of software development experience.
        For a detailed explanation, visit our <%= link_to 'Modified Scrum', '#' %> page.
      </p>


    </div>
  </div>

</div>