<div id="playbook-pages-how-we-use-trello">
  <h1>How we use Trello</h1>

  <p>
    Trello is an incredible, free tool that we use to manage a lot at BiteSite. The biggest
    thing we use it for is to manage our Scrum Express Development Sprint. The general
    process is the same for all our projects, but Web Applications and Mobile Applications
    have slightly different flows.
  </p>

  <h2>Web Applications</h2>

  <p>
    Here is what a typical Web Application Trello Board looks like:
  </p>

  <%= image_tag 'playbook/Scrum-Express-Trello-Web-Application.jpg' %>

  <h3>Columns</h3>
  <p>
    Here are the columns we use in a typical web application development sprint:

    <ul>
      <li>Incoming Feeback</li>
      <li>Product Backlog</li>
      <li>Current Sprint</li>
      <li>Needs Revisions/PR Comments</li>
      <li>Doing</li>
      <li>Waiting for PR to be Reviewed</li>
      <li>Merged to Develop</li>
      <li>Pushed to Staging for Review</li>
      <li>Approved for Production</li>
      <li>Shipped to Production</li>
      <li>Complete</li>
    </ul>
  </p>

  <h3>Tags</h3>
  <p>
    Here are the tags we use in a typical web application development sprint:

    <ul>
      <li>No Code/Data Update</li>
      <li>Hotfix</li>
      <li>Deployment Instructions</li>
      <li>Hold off Merging</li>
      <li>Merged to Develop</li>
      <li>Depends on another card</li>
    </ul>
  </p>

  <h3>What do I do as a Project Manager?</h3>
  <p>
    Coming soon.
  </p>

  <h3>What do I do as a Software Developer?</h3>
  <p>
    Coming soon.
  </p>

  <h2>Mobile Applications</h2>

  <p>
    Here is what a typical Trello Board looks like for Android/iOS development:
  </p>

  <%= image_tag 'playbook/Scrum-Express-Trello-Mobile-Application.jpg' %>

  <h3>Columns</h3>
  <p>
    Here are the columns we use in a typical web application development sprint:

    <ul>
      <li>Incoming Feeback</li>
      <li>Product Backlog</li>
      <li>Current Sprint</li>
      <li>Needs Revisions/PR Comments</li>
      <li>Doing</li>
      <li>Waiting for PR to be Reviewed</li>
      <li>Merged to Develop</li>
      <li>Deployed to Google Play Store Internal</li>
      <li>Submitted for Test Flight Review</li>
      <li>Ready for Android Testing</li>
      <li>Ready for iOS Testing</li>
      <li>Approved for Production</li>
      <li>Deployed to Production - Google Play</li>
      <li>Submitted for App Store Review</li>
      <li>Deployed to Production - App Store</li>
      <li>Merged to Master</li>
      <li>Complete</li>
    </ul>
  </p>

  <h3>Tags</h3>
  <p>
    Here are the tags we use in a typical web application development sprint:

    <ul>
      <li>No Code/Data Update</li>
      <li>Hotfix</li>
      <li>Deployment Instructions</li>
      <li>Hold off Merging</li>
      <li>Merged to Develop</li>
      <li>Depends on another card</li>
    </ul>
  </p>

  <h3>What do I do as a Project Manager?</h3>
  <p>
    Coming soon.
  </p>

  <h3>What do I do as a Software Developer?</h3>
  <p>
    Coming soon.
  </p>
</div>