<div id="playbook-pages-product-managers">
  <h1>Product Managers</h1>
  <p>
    Scrum Express Product Managers drive the direction of the product and decide
    what's going to be built and when it's going to be built. At BiteSite, the product managers
    include representatives from the client, as well as the Solutions Architect from BiteSite.
  </p>

  <h2>What do Product Managers do?</h2>
  <p>
    Coming Soon
  </p>

  <h2>How do they do it?</h2>

  <p>
    So now that we know what Product Managers do, how do they do it?
  </p>

  <h3>Not everything is Urgent</h3>
  <p>
    The hardest thing a Product Manager has to do, especially on the client side, is realize
    that there is a finite number of resources you're dealing with. That means that Product Managers
    have to realize that not everything can done right away.
  </p>

  <p>
    The best way to approach this is to think that **not everything is urgent** and things can wait.
    The two big questions we ask ourselves when considering if something needs to be **hotfixed** or not is:

    <ul>
      <li>
        <b>How long has the issue been around?</b> - If the issue has been around for months, then waiting
        one more week to properly fit a fix into the Sprint and have it go through proper testing is
        probably worth it. Otherwise you risk introducing a bigger issue.
      </li>

      <li>
        <b>Is there a workaround?</b> - If there is a way to workaround the issue, then again, it's probably
        worth waiting a week to properly slot a fix into a proper Sprint and have it go through proper
        testing.
      </li>
    </ul>
  </p>
</div>