<div>
    <h1>Projects Types</h1>

    <p>
      Our clients really fall into three categories each with their own workflows.
    </p>

    <h2>Starter Projects</h2>

    <p>
      When clients work with us for the first time, we usually set up a Starter Project. While all
      our contracts are setup to be open-ended, for first time clients, we usually like to define
      a set of some concrete short-term goals. Typically, these projects are setup to be about
      <b>1-3 months</b> and have a short list of features. These projects can sometimes be viewed
      as a Minimal Viable Product (MVP).
    </p>

    <p>
      For these style of projects, a general timeline is set out and on-demand meetings, checkins
      are setup.
    </p>

    <h2>Maintenance Projects</h2>

    <p>
      After a starter project, most clients end up in Maintenance. In this category, clients typically
      contact us 6 to 12 times a year with small fixes, or new features here and there.
    </p>

    <h2>Integrated Projects</h2>

    <p>
      Our biggest and best projects (and ones we strive to get all clients onto) are integrated clients.
      We use the word 'integrated' to describe the nature of BiteSite and the clients' company - we act
      as an integrated company.
    </p>

    <p>
      For these projects, we use a process we call Scrum Express. This process has been designed from a
      classic Scrum process but tweaked based on our years of software development experience.
      For a detailed explanation, visit our <%= link_to 'Scrum Express', playbook_scrum_express_path %> page.
    </p>


  </div>