<div id="playbook-pages-scrum-express-roles">
  <h1>Scrum Express Roles</h1>

  <p>
    The players that are involved in Scrum express can be widdled down to the following:
  </p>

  <h2>Product Managers</h2>
  <p>
    The Product Managers make up the Product Management Team and they are in charge of
    deciding what features will be developed and when they will be developed. Product
    Managers include our Customers (or a representative from the Customer's organization)
    and our Project Lead.
  </p>

  <h2>Designers</h2>
  <p>
    Coming Soon.
  </p>

  <h2>Developers</h2>
  <p>
    Coming Soon.
  </p>

  <h2>Staging Pusher</h2>
  <p>
    Coming Soon.
  </p>

  <h2>Production Pusher</h2>
  <p>
    Coming Soon.
  </p>

  <h2>Sprint Presenter</h2>
  <p>
    Coming Soon.
  </p>

  <h2>Project Lead</h2>
  <p>
    The Project Lead is a special 'jack of all trades' role that is usually fulfilled
    by a Senior BiteSite developer. The project lead acts as the bridge between
    the Design Team, Development Team and the Product Management team. In essence,
    they are a product manager who has development experience.
  </p>

  <h2>What about Product Owners and Scrum Masters?</h2>
  <p>
    We know that classic Scrum uses two very important roles: a Product Owner and a Scrum Master.
  </p>
  <p>
    In terms of the Product Owner, rather than a single person, we find in our projects, this
    is better fulfilled by the Product Management team - a group with representation from the
    client and representation from BiteSite. That being said, the Product Management team
    follows the same principles as a Product Owner.
  </p>
  <p>
    In terms of the Scrum Master, while we very much respect the idea of a Scrum Master and rules
    surrounding keeping Scrum Master and Product Owner separate, we've felt that our Scrum Express
    teams generally respect the rules of Scrum Express. Not to mention, Scrum Express tends to
    be a bit more flexible than Scrum. What we find works best is the project lead reminding
    the team when they are violating the rules, and facilitating discussions around adhering and
    breaking the rules of Scrum Express.
  </p>
</div>