<div id="playbook-pages-technologies">
  <h1>Technologies</h1>

  <p>
    The following is a list of the techologies that our developers use. This includes
    our technology stack as well as the surrounding tools.
  </p>

  <h2>Ruby on Rails</h2>
  <p>Coming Soon</p>

  <h2>React</h2>
  <p>Coming Soon</p>

  <h2>PostgreSQL</h2>
  <p>Coming Soon</p>

  <h2>Heroku</h2>
  <p>
    <%= link_to 'Heroku', 'https://www.heroku.com', target: '_blank' %> is our hosting platform of choice when it comes to Web Applications.
  </p>

  <p>
    When clients sign with us to do develop a Web Application, we highly recommend using Heroku
    as the hosting and deployment platform. In fact, we recommend it so highly that we will be
    heavily resistant to other solutions unless they provide some key features that we benefit
    from when choosing Heroku.
  </p>

  <p>
    Choosing Heroku will ultimately save the client and us lots of time, effort, frustrations and
    money because of the following features

    <ul>
      <li>
        <b>Managed Hosting as a Service</b> - Heroku is a cloud-based hosting provider which means
        you don't have to spend any money managing and maintaining the actual servers.
      </li>
      <li>
        <b>Integrated into our Development Process</b> - Heroku provides Git-based deployments which
        means our development team can push up new builds within minutes and automate continuous
        integration if needed.
      </li>
      <li>
        <b>Automated Production Deployment</b> - Heroku takes all the manual work out of deploying
        a production build of your web application. We simply push up the code, and Heroku handles
        the rest. This can be incredibly handy for things like Ruby on Rails and Webpack production
        builds.
      </li>
      <li>
        <b>Managed Add-on Services</b> - On top of managing the basic server, Heroku also makes
        it incredibly easy to install and maintain services like Databases.
      </li>
      <li>
        <b>Grows as you grow</b> - Yes, you will have to spend more money as your application grows,
        but Heroku makes it incredibly easy to scale up as your application demands more.
      </li>
    </ul>
  </p>

  <p>
    If a client suggests another hosting platform, we will be open to hear about it, but will
    be very hesitant if it does not provide the above listed features among others.
  </p>

  <h2>Git, BitBucket, GitHub</h2>
  <p>Coming Soon</p>

  <h2>React Native & Expo</h2>
  <p>Coming Soon</p>

  <h2>Amazon AWS S3</h2>
  <p>Coming Soon</p>

  <h2>Google Firebase</h2>
  <p>Coming Soon</p>

  <h2>Visual Studio Code</h2>
  <p>Coming Soon</p>
</div>