<div id="playbook-pages-technologies">
  <h1>Technologies</h1>

  <p>
    The following is a list of the techologies that our developers use. This includes
    our technology stack as well as the surrounding tools.
  </p>

  <h2>Ruby on Rails</h2>
  <p>Coming Soon</p>

  <h2>React</h2>
  <p>Coming Soon</p>

  <h2>PostgreSQL</h2>
  <p>Coming Soon</p>

  <h2>Heroku</h2>
  <p>Coming Soon</p>

  <h2>Git, BitBucket, GitHub</h2>
  <p>Coming Soon</p>

  <h2>React Native & Expo</h2>
  <p>Coming Soon</p>

  <h2>Amazon AWS S3</h2>
  <p>Coming Soon</p>

  <h2>Google Firebase</h2>
  <p>Coming Soon</p>

  <h2>Visual Studio Code</h2>
  <p>Coming Soon</p>
</div>