<div id="playbook-pages-technologies">
  <h1>Tools</h1>

  <p>
    Outside of pure design and development, we have a lot of other tools we use
    to run our day to day.
  </p>

  <h2>Trello</h2>
  <p>
    There's a lot to say about Trello that we'll put here, but for now, here are some
    reasons we prefer Trello over the many other process management tools out there

    <ul>
      <li>
        Trello is easy to pickup for beginners but has so many features to support more advanced usage
      </li>
      <li>
        Trello's card system forces you to focus only on a couple of items at a time; there are only
        so many cards that can fit on a screen. Other systems that show huge lists where you can
        see 20-30 items at a time can dilute this focus.
      </li>
      <li>
        Trello has a customizeable workflow that can grow as Scrum Express grows.
      </li>
      <li>
        Trello encourages aynchronous communication - allow the people you're communicating
        with to deal with what they need to deal with when they have time to deal with it.
      </li>
      <li>
        Trello is free! or at least for how we use it for.
      </li>
    </ul>
  </p>

  <h2>Slack</h2>
  <p>Coming Soon</p>

  <h2>G Suite</h2>
  <p>Coming Soon</p>

  <h2>Freshbooks</h2>
  <p>Coming Soon</p>

  <h2>Payment Evolution</h2>
  <p>Coming Soon</p>
</div>