<div id="playbook-pages-values">
  <h1>Values</h1>

  <p>
    Here are a few of the things we value at BiteSite.
  </p>

  <h2>Not doing everything for the bottom line</h2>
  <p>
    Coming soon.
  </p>

  <h2>The relationship is more important than the transaction</h2>
  <p>
    Coming soon.
  </p>

  <h2>Supporting the community as a whole</h2>
  <p>
    Coming soon.
  </p>

  <h2>Enjoying life outside of work</h2>
  <p>
    Coming soon.
  </p>
</div>