<div class="video-hero">
	<div class="container">		
		<%= image_tag "logovideo.png", :class => "logo" %>
		<div class="video-hero-description">	
			BITESITE IS AN OTTAWA-BASED COMPANY SPECIALIZING
			IN WEB DESIGN, WEB DEVELOPMENT, IOS DEVELOPMENT,
			PHOTOGRAPHY, FILM, AND GRAPHIC DESIGN.
		</div>
		<%= link_to "CONTACT US", "#", :class => "contact-us-hero contact-link" %>
	</div>
</div>