<div class="video-hero">
	<div class="container">		
		<%= image_tag "logo2015-white-500x108.png", :class => "logo" %>
		<div class="video-hero-description">	
			BITESITE IS AN OTTAWA-BASED COMPANY SPECIALIZING
			IN WEB DESIGN, WEB DEVELOPMENT, IOS DEVELOPMENT,
			PHOTOGRAPHY, FILM, AND GRAPHIC DESIGN.
		</div>
		<%= link_to "CONTACT US", "#", :class => "contact-us-hero contact-link nav-link", :destination => ".contact-section" %>
	</div>
</div>