<div class="page-section announcement-section">
	<div class="container">
		<%= link_to "GETTING MARRIED? ENTER OUR WEDDING VIDEO 2013 CONTEST HERE!", "/wedding", :class => "announcement" %>
	</div>
</div>