<div class="page-section footer">
	<div class="container">
		<div class="footer-info">
			BITESITE INC.   <Br>
			WE ARE A <b>SOFTWARE DEVELOPMENT & VIDEO PRODUCTION FIRM</b><br>
      BASED IN OTTAWA, CANADA.
			<div class="center page-links">
				<%= link_to "FAQ", faq_path %>
				<%= link_to "TERMS AND CONDITIONS", terms_and_conditions_path %>
				<%= link_to "CAREERS", careers_path %>
				<%= link_to "STAFF SIGN IN", new_user_session_path %>
			</div>
		</div>
	</div>
</div>