<div class="hero">
	<div class="container">		
		<%= image_tag "logo2015-white-500x108.png", :class => "logo" %>
		<div class="hero-description">	
			WE ARE A<br>
      <b>SOFTWARE DEVELOPMENT & VIDEO PRODUCTION FIRM</b><br>
      BASED IN OTTAWA, CANADA.
		</div>
		<%= link_to "CONTACT US", "#", :class => "contact-us-hero contact-link nav-link", :destination => ".contact-section" %>
	</div>
</div>