<div class="page-section footer">
	<div class="container">
		<div class="footer-info">
			BITESITE.CA   OTTAWA   ONTARIO   CANADA
		</div>
		<div class="footer-ads">
			<% ad_choice = rand(3) %>
			<% if ad_choice == 0 %>
				<a href="https://bitesite.freshbooks.com/refer/www" style="background-color: transparent;">
					<img src="http://www.freshbooks.com/images/banners/freshbooks-728x90.png" width="728" height="90" border="0" alt="FreshBooks" />
				</a>
				<div class="footer-ads-caption">BITESITE PROUDLY USES FRESHBOOKS</div>
			<% elsif ad_choice == 1 %>
				<a href="http://www.dpbolvw.net/click-6747923-11187729" target="_top">
					<img src="http://www.tqlkg.com/image-6747923-11187729" width="728" height="90" alt="MOO for Business, an account management service for small businesses." border="0"/>
				</a>
				<div class="footer-ads-caption">BITESITE PROUDLY USES MOO.COM</div>
			<% else %>
				<a href="http://www.wistia.com" target="_top">
					<img src="/assets/wistia.png" width="728" height="90" alt="Wistia Video Hosting" border="0"/>
				</a>
				<div class="footer-ads-caption">BITESITE PROUDLY USES WISTIA</div>
			<% end %>
		</div>
	</div>
</div>