<div class="page-section footer">
	<div class="container">
		<div class="footer-info">
			BITESITE.CA   OTTAWA   ONTARIO   CANADA
		</div>
		<div class="footer-ads">
			<a href="https://bitesite.freshbooks.com/refer/www" style="background-color: transparent;"><img src="http://www.freshbooks.com/images/banners/freshbooks-728x90.png" width="728" height="90" border="0" alt="FreshBooks" /></a>
			<div class="footer-ads-caption">BITESITE PROUDLY USES FRESHBOOKS</div>
		</div>
	</div>
</div>