<div class="hero">
	<div class="container">		
		<%= image_tag "businesscard.png", :class => "business-card" %>
		<%= image_tag "logo.png", :class => "logo" %>
		<div class="hero-description">	
			BITESITE IS AN OTTAWA-BASED COMPANY SPECIALIZING
			IN WEB DESIGN, WEB DEVELOPMENT, IOS DEVELOPMENT,
			PHOTOGRAPHY, FILM, AND GRAPHIC DESIGN.
		</div>		

	</div>
</div>