<div class="navigation-bar">
	<div class="container">
		<div class="nav-links">
			<%= link_to "SERVICES", "#", :id => "services-link" %>
			<%= link_to "NEWS", "#", :id => "news-link" %>
			<%= link_to "ABOUT", "#", :id => "about-link" %>
			<%= link_to "CONTACT", "#", :id => "contact-link" %>
		</div>
		<div class="clear-floats"></div>
	</div>
</div>