<div id='demo-reel-video' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body wistia-video-modal-dialog-body'>
		<div id='wistia_demo'>				
		</div>
		<h1>BiteSite Demo Reel</h1>
		<p>
			The above demo reel is a showcase of the various shoots that BiteSite has done.<br>
			(Certain clips are the property of 
			<%= link_to "NorthStar Utilities Solutions", "http://www.northstarutilities.com", :target => "_blank" %> and 
			<%= link_to "Teldio Corporation", "http://www.teldio.com", :target => "_blank" %>.)
		</p>
		<div class="modal-dialog-actions">
			<hr>
			<a class='close-dialog-link standard-button' href="#" data-title='demo-reel-video'>Close</a>
		</div>
	</div>
</div>

<div id='teldio-video' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body youtube-video-modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'portfolio/TeldioLogo.png' %>
				</td>
				<td>
					<div id='youtube_teldio'>				
					</div>
					<h1>Film: Teldio Video</h1>
					<p>
						While working at Teldio Corporation, founder of BiteSite, Casey Li, produced this promotional video to
						advertise Teldio's Hospitality Solution. From storyboarding to filming to editing - Casey did a lot of
						the work on this polished video. A showcase of Motion Graphics possibilities is also featured.<br>
						(This video is the property of <%= link_to "Teldio Corporation", "http://www.teldio.com", :target => "_blank" %>.)
					</p>
					<div class="modal-dialog-actions">
						<hr>
						<a class='close-dialog-link standard-button' href="#" data-title='teldio-video'>Close</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='photos-dialog' class='modal-dialog' style='display:none'>
	<div class='modal-dialog-body photos-modal-dialog-body'>
		<div id="photos-dialog-body">
		</div>
		<div id="photos-counter">
		</div>
		<div class="modal-dialog-actions">
			<hr>
			<a class='prev-photo-link standard-button' href="#">&lt;&lt;</a>
			<a class='next-photo-link standard-button' href="#">&gt;&gt;</a>
			<a class='close-dialog-link standard-button' href="#" data-title='photos-dialog'>Close</a>
		</div>
	</div>
</div>