<%= image_tag "addonsheader_inshad.png", :class =>"page-header" %>

<table class="page-table">
	<tr>
		<td class="main-column">
			<table class="package-table">
				<tr>
					<td class="package-title">Photography</td>
					<td class="package-price">starting at $500</td>
				</tr>
			</table>
			<p>
				BiteSite features photography services for all types of events that can complement your website nicely. BiteSite believes strongly in not using
				Stock Photos are generating something unique for each of our customers. Photography packages can be added on to websites or purchased stand-alone.
				Our photography services are perfect for:
				<ul>
					<li>Events</li>
					<li>Weddings and Engagements</li>
					<li>Business Websites</li>
				</ul>
				
			</p>
			
			<table class="package-table">
				<tr>
					<td class="package-title">Video</td>
					<td class="package-price">starting at $1000</td>
				</tr>
			</table>
			<p>
				BiteSite also provides services to produce professional quality videos. Although BiteSite focuses in the under-10 minute format, we can put together
				a package that will suit your needs perfectly. Our video services are perfect for:
				<ul>
					<li>Training and Instructional Videos</li>
					<li>Promotional Videos</li>
					<li>Event Videos</li>
				</ul>
			</p>
			
			<table class="package-table">
				<tr>
					<td class="package-title">Graphic Design</td>
					<td class="package-price">starting at $1000</td>
				</tr>
			</table>
			<p>
				Graphic Design is becoming more and more of a need in all fields. From event planning and advertising, to company branding, graphic design is
				a huge asset to any company. BiteSite provides basic graphic design services that are perfect for:
				<ul>
					<li>Poster and Banner Design</li>
					<li>Logo Design</li>
					<li>Advertisement and Brochure Design</li>
				</ul>
			</p>
		</td>
	</tr>
</table>
