<div id="pages-contact">
  <div class="container">
    
    <div class='section'>
      <h1>Contact us for anything!</h1> 
      <p>
        Know exactly what you want? Have no idea at all? Want to just open up a conversation about your options? 
        Have some technical questions? Whatever it may be, please drop us a line and we'll do
        our best to answer any questions you may have.
      </p>
      <div>
        <%= render 'pages/contact_form' %>
      </div>
    </div>


  </div>
</div>