<div class="case-study ewa-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Enterprise Wireless Alliance Cevo GO Video</h1>

      <div class="services">
        <span class="service">Motion Graphics Video Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      
       <p>
         Enterprise Wireless Alliance (EWA) is a leader in the frequency certification space. They continue to push the industry forward by introducing
         tools and processes that make sercuring radio frequencies faster and easier for their customers.
       </p>

       <p>
         In 2017, EWA introduced their latest offering - <%= link_to "Cevo GO", "https://www.enterprisewireless.org/cevogo" %> - a mobile app that streamlines the frequency certification process to minutes of effort
         rather than hours if not days. To go with the launch, EWA wanted a professional animated video to explain the new app and so they approached BiteSite.
       </p>

       <p>
         Even with a tight timeline, we were adamant about following our entire process from script, to storyboards, to design, and finally to animation. We worked
         closely with their Executive Director of Marketing, Sarah Beerbower to deliver a high quality video aligned with EWA's vision.
       </p>

       <%= image_tag "case_studies/ewa_script_storyboards.png", class: "img-responsive" %> 

      <h2>Outcome</h2>
      <p>
        We were happy to deliver the video in time for EWA's conference and the final outcome was one of our slickest animated works to date. Check out the results below!
      </p>

      <p>
        For more information about Enterprise Wireless Alliance and Cevo GO, visit 
        <%= link_to "https://www.enterprisewireless.org/", "https://www.enterprisewireless.org/", target: "_blank" %>.
      </p>
      
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/qwUCFwhGVdU" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </div>  
</div>
