<div class="case-study inspec-homes-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Inspec Homes Web Application</h1>

      <div class="services">
        <span class="service">Web Application Design</span>
        <span class="service">Web Application Development</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <%= image_tag "inspec_homes_screenshots_1.png", class: "img-responsive" %>

      <h2>Outcome</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <p>
        For more information about Inspec Homes, visit 
        <%= link_to "www.inspechomes.com", "https://www.inspechomes.com", target: "_blank" %>.
      </p>


    </div>
    
  </div>

  
  
</div>