<div class="case-study lspark-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>L-SPARK Graduation Video</h1>

      <div class="services">
        <span class="service">Live Action Film Production</span>
        <span class="service">Event Coverage</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>

      <p>
        L-SPARK has been one of BiteSite's biggest customers and the grad video for their first cohort of Accelerator
        and Incubator companies was one of our biggest projects. A combination of B-roll shot throughout the year
        and new footage shot specifically for the video gave rise to a video we're extremely proud of.
      </p>

      <h2>Outcome</h2>
      <p>
        The L-SPARK graduation video debutted at the first ever L-SPARK SaaS Showcase to an audience of a few hundred
        at the Museum of Nature in Ottawa, Canada. The video was extremely well received by the audience but also
        gave the graduating cohort a powerful recap of their eventful journey.
      </p>

      <p>
        For more information about L-SPARK, visit 
        <%= link_to "www.l-spark.com", "http://www.l-spark.com", target: "_blank" %>.
      </p>

      <iframe src="https://player.vimeo.com/video/139701560?byline=0&portrait=0" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
  </div>

  
  
</div>