<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="case-study martello-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Martello MarWatch Video</h1>

      <div class="services">
        <span class="service">Motion Graphics Video Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      <p>
        Martello Technologies came to BiteSite looking for an animated explainer video to summarize their successful network
        monitoring software, MarWatch and its new capability to monitor virtually any device. This video was the first animated video
        to go through BiteSite's newly refined process. It was great to collaborate with Martello's marketing team on Concept, Script,
        Storyboards, PreVis Design, and ultimately the final product. Our newest addition to the BiteSite video team, Tim Clark, handled
        all the animation and to date this remains one of our best works.
      </p>

      <h2>Outcome</h2>
      <p>
        Martello Technologies was very excited to have a concise video to explain their offering and BiteSite was extremely pleased
        with the results. As always, we feel the best work is achieved when there is a right fit client and project and the Martello
        MarWatch Explainer video is a great example.
      </p>
      
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/xHoBKGrNU5c" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </div>

  
  
</div>