<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="case-study mydoma-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Mydoma Studio Promotional Video</h1>

      <div class="services">
        <span class="service">Live Action Scripted Film Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">

      <h2>Customer profile</h2>

      <p>
        Mydoma Inc was founded by husband and wife duo Sarah Daniele and Thomas 
        Martineau. Combining her expertise in interior design and his knowledge of software development, they created Mydoma Studio, an eDesign workflow management tool to aid designers in today’s ever-advancing world.
      </p>

      <h2>Intro/Goal</h2>

      <p>
        When Mydoma approached BiteSite, they already had a great website and web application but they knew that a video would be one of the most effective ways to convey the value of their product. It’s quick, engaging and highly visual. As with most of our video production projects, the process is highly collaborative between BiteSite and the client to ensure that all the elements come together in just the right way. Below is an outline of the process we took to create the Mydoma Studio explainer video.
      </p>

     <h2>Process</h2>

      <p>
        Kickoff meeting: We sat down with Mydoma to discuss the high-level ideas, requirements and budget for the video. Decisions like whether live action or animated would be a better fit for the brand were made. For Mydoma, we chose live action. 
      </p>

      <%= image_tag "mydoma_whiteboards.png", class: "img-responsive" %> 

      <p>
        Concept meeting: It’s important for us to really understand our client’s business, industry and customers before diving into the creative process. Sarah really helped us in understanding the the world of interior design and more specifically how a designer would incorporate Mydoma Studio into their workflow. We also discussed key messages, and core audience for the production. With all this information, we came up with a rough story line and structure for the video.
      </p>

      <p>
        Logistics meeting: The logistics meeting is where we planned out how we were going to accomplish the shoot, more specifically the location and actors. The budget didn’t allow us to rent out a space so we had to get creative. This paid off in the end as we used actual interior design offices and client spaces giving the video an authentic look. 
      </p>

      <p>
        Writing the script: BiteSite’s Casey Li was in charge of writing the script and to start his process, he had to find a song that captured the mood of the video. He picked “Hey, Soul Sister” by Train. Listening to it over and over in coffee shops and walking up and down the streets of Ottawa helped him visualize the scenes and write with the script. 
      </p>

      <p>
        Script review: At this stage, it’s worth taking the time to finalize the script because once filming begins it’s very difficult to make changes. While the client was happy with the script overall, we had a lot of good back and forth discussions with Sarah and Thomas to tweaking certain lines until we were all happy with it. The tweaks helped deliver some key features and messages missing from the initial draft.
      </p>

      <%= image_tag "mydoma_scripts.png", class: "img-responsive" %> 

      <p>
        Storyboarding: After the script comes storyboards. Storyboards help us communicate to the client to overall visual feel of the video before we get to the shoot. It also helps us plan everything we need for the shoot including the shot list, what locations we need, what actors/actresses we need, what set dressing and props we need, and more. Storyboarding is an important step for us not only in communicating creatively what the video will look like, but also as an organizational tool.  
      </p>

      <%= image_tag "mydoma_storyboards.png", class: "img-responsive" %> 

      <p>
        Plan the shoot day: We visited several potential locations before deciding on the 2 that we used. While scouting locations, I envision how each scene will be shot, determine if the décor fits our style, make sure there is enough natural light, among other important details. 
      </p>

      <p>
        The storyboard was broken down into a shot list and organized by location, wardrobe and props so that everyone involved knows exactly what’s going on for each scene.
      </p>

      <p>
        Shoot day: We are able to squeeze all of our shooting into 1 day.
      </p> 

      <p>
        Voice over narration: Using Voxtalent, we found the right voice over actor and sent her the script to read. 
      </p>

      <p>
        Editing and animation: While the video was always intended to be live action, we wanted to incorporate some motion graphics as well to better illustrate the product. After reviewing the first draft and making a few edits, the video was complete. 
      </p>

      <h2>Outcome</h2>

      <p>
        Having the experience and capabilities to do both live action and motion graphics allows us to be more creative with our client projects. The vision we had for MyDoma pushed us to created effects we’ve never done before which was a great challenge. The final video feels authentic and delivers the message that MyDoma was created by designers, for designers. Sarah and Thomas loved being part of the whole process and seeing the video come together. 
      </p>

      <iframe width="100%" height="400" src="https://www.youtube.com/embed/fsuzsJ2-PYI" frameborder="0" allowfullscreen></iframe>


      <p>
        Written by Rally Stanoeva
      </p>


      

      

      


    </div>
    
  </div>

  
  
</div>