<%= image_tag "packagesheader_inshad.png", :class => "page-header" %>

<table class="page-table">
	<tr>
		<td class="main-column">
			<table class="package-table">
				<tr>
					<td class="package-title">No Hassle, One-Pager</td>
					<td class="package-price">starting at $200</td>
				</tr>
			</table>
			<p>
				Do you just want a simple website without any of the hassle. This package is the quickest and easiest way to get your website up and running.
				We have a short meeting about what you want, we build it, publish it, and you're done. This package is perfect for:
				<ul>
					<li>Small Businesses</li>
					<li>Small Events</li>
					<li>Individuals</li>
				</ul>
				
			</p>
			
			<table class="package-table">
				<tr>
					<td class="package-title">No Hassle, Multi-Pager</td>
					<td class="package-price">starting at $400</td>
				</tr>
			</table>
			<p>
				Maybe you need a little more than one page for your website. Maybe you're a small restaurant that would like a website with pages for your menu,
				your address and contact information, and your hours. Maybe you're a small business that needs a page for your services, your products, and your
				customer references. You tell us what you want, we build it, publish it, and you're done. This package is perfect for:
				<ul>
					<li>Small Businesses</li>
					<li>Small Events</li>
					<li>Individuals</li>
				</ul>
			</p>
			
			<table class="package-table">
				<tr>
					<td class="package-title">Interactive Site</td>
					<td class="package-price">starting at $750</td>
				</tr>
			</table>
			<p>
				Do you want a little more from your website? Do you want your visitors to be able to interact with it? Maybe you're a small business who wants your
				customers to be able to give feedback on your site? Maybe you're a wedding couple who wants your guests to be able to RSVP through your site? Maybe
				you'd like to take reservations for your restaurant? Or maybe you want people to register for your event. This package has endless possibilities.
				This package is perfect for:
				<ul>
					<li>Weddings and other Events</li>
					<li>Small to Medium Businesses</li>
				</ul>
			</p>
			
			<table class="package-table">
				<tr>
					<td class="package-title">Full Scale Web Application</td>
					<td class="package-price">starting at $1000</td>
				</tr>
			</table>
			<p>
				BiteSite also builds full scale web applications to meet your individual needs. Perhaps you need an application to make your business more efficient.
				Perhaps you're hosting a large-scale event that requires registration, tracking, follow-up and more. BiteSite offers full scale solutions to meet your
				needs. This package is perfect for:
				<ul>
					<li>Large Businesses</li>
					<li>Large Events</li>
				</ul>
			</p>
			
			<table class="package-table">
				<tr>
					<td class="package-title">Custom Package</td>
					<td class="package-price"></td>
				</tr>
			</table>
			<p>
				Of course if you can't find a package that fits your needs, BiteSite will work with you to design the perfect package and pricing. Contact us for a
				quick meeting to determine your specific needs.
			</p>
		</td>
		
		<td class="sidebar-column">
			<p>
				<h1>Custom Packages</h1>
				If none of these packages suit your needs, BiteSite will work with you to come up with the perfect package and pricing. 
			</p>
			<p>
				<h1>Add-ons</h1>
				Want to add some style with a personal touch to your website? Then checkout our add-ons. BiteSite provides photography and video services
				to capture what your business or event is all about. No more generic stock photos. BiteSite believes in creating original work for each
				of its customers.
			</p>
		</td>
	</tr>
</table>
