<%= image_tag "portfolioheader.png", :class => "page-header" %>

<table class="page-table">
	<tr>
		<td class="main-column">
			<table class="package-table">
				<tr>
					<td class="package-title">Websites</td>
					<td class="package-price">W</td>
				</tr>
			</table>
			
			
			<table class="package-table">
				<tr>
					<td class="package-title">Photography</td>
					<td class="package-price">P</td>
				</tr>
			</table>
		
			
			<table class="package-table">
				<tr>
					<td class="package-title">Video</td>
					<td class="package-price">V</td>
				</tr>
			</table>
		
			
			<table class="package-table">
				<tr>
					<td class="package-title">Graphic Design</td>
					<td class="package-price">G</td>
				</tr>
			</table>
			
		</td>
	</tr>
</table>
