<%= image_tag "portfolioheader_inshad.png", :class => "page-header" %>

<table class="page-table">
	<tr>
		<td class="main-column">
			<table class="package-table">
				<tr>
					<td class="package-title">Websites</td>
					<td class="package-price">W</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item capo-button' href="#" data-title='capo'></a></td>
					<td><a class='portfolio-item md-button' href="#" data-title='md'></a></td>
					<td><a class='portfolio-item wwwp-button' href="#" data-title='wwwp'></a></td>
					<td><a class='portfolio-item caseyli-button' href="#" data-title='caseyli'></a></td>
				</tr>
			</table>

			<table class="package-table">
				<tr>
					<td class="package-title">Photography</td>
					<td class="package-price">P</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item-photos corporatephotos-button' href="#" data-title='corporatephotos'></a></td>
					<td><a class='portfolio-item-photos weddingphotos-button' href="#" data-title='weddingphotos'></a></td>
					<td><a class='portfolio-item-photos eventphotos-button' href="#" data-title='eventphotos'></a></td>
				</tr>
			</table>
		
			
			<table class="package-table">
				<tr>
					<td class="package-title">Video</td>
					<td class="package-price">V</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item teldio-video-button' href="#" data-title='teldio-video'></a></td>
					<td><a class='portfolio-item northstar-video-button' href="#" data-title='northstar-video'></a></td>
					<td><a class='portfolio-item spy-am-i-video-button' href="#" data-title='spy-am-i-video'></a></td>
				</tr>
			</table>
		
			
			<table class="package-table">
				<tr>
					<td class="package-title">Graphic Design</td>
					<td class="package-price">G</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item-photos promos-button' href="#" data-title='promos'></a></td>
					<td><a class='portfolio-item-photos branding-button' href="#" data-title='branding'></a></td>
				</tr>
			</table>
			
		</td>
	</tr>
</table>

<%= render "portfolio_dialogs" %>

<script type="text/javascript">

    /*
     * EVENT HANDLERS -----------------------
     */
	$(".portfolio-item").click(function(){
		toggleDialog($(this).data("title"));
		return false;
	});
	
	$(".portfolio-item-photos").click(function(){
		togglePhotosDialog($(this).data("title"));
		return false;
	});
		
	$(".close-dialog-link").click(function(e){
		toggleDialog($(this).data("title"));
		return false;
	});
	
	$(".next-photo-link").click(function(){
		loadNextPhoto($(this).data("category"));
		return false;
	});
	
	$(".prev-photo-link").click(function(){
		loadPrevPhoto($(this).data("category"));
		return false;
	});
	
	/*
	 * toggleDialog - show/hide dialog
	 */
	function toggleDialog(title){	
		
		/* When Closing the Video Dialogs, in case the user doesn't press stop, remove the video tag */
		if (title == "northstar-video") {
			if ($("#" + title).is(':visible')) {
				$("#vimeo_northstar").html("");
			}
			else {
				ihtml = '<iframe src="http://player.vimeo.com/video/24576453?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/24576453">NorthStar Utilities Solutions Commercial</a> from <a href="http://vimeo.com/user4962983">Casey Li</a> on <a href="http://vimeo.com">Vimeo</a>.</p>';
				$("#vimeo_northstar").html(ihtml);
				
			}
		}
		
		/* When Closing the Video Dialogs, in case the user doesn't press stop, remove the video tag */
		if (title == "spy-am-i-video") {
			if ($("#" + title).is(':visible')) {
				$("#vimeo_spyami").html("");
			}
			else {
				ihtml = '<iframe src="http://player.vimeo.com/video/19447660" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/19447660">Spy Am I teaser 1</a> from <a href="http://vimeo.com/user5908131">Going AFK Games</a> on <a href="http://vimeo.com">Vimeo</a>.</p>';
				$("#vimeo_spyami").html(ihtml);
				
			}
		}
		
		/* When Closing the Video Dialogs, in case the user doesn't press stop, remove the video tag */
		if (title == "teldio-video") {
			if ($("#" + title).is(':visible')) {
				$("#youtube_teldio").html("");
			}
			else {
				
				ihtml = '<iframe width="560" height="315" src="http://www.youtube.com/embed/BGJeQ6TMMlM" frameborder="0" allowfullscreen></iframe>';
				/*ihtml = '<object style="height: 385px; width: 640px"><param name="movie" value="http://www.youtube.com/v/obu86GMx1FU?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/obu86GMx1FU?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>';*/
				$("#youtube_teldio").html(ihtml);
				
			}
		}
		
		$("#" + title).fadeToggle(400);
	}
	
	function togglePhotosDialog(title) {
		var startImage = "";
		if(title == "weddingphotos") {
			startImage = "wd1.png";
		}
		
		$(".prev-photo-link").data("category", title);
		$(".next-photo-link").data("category", title);
		
		$("#photos-dialog-body").data("photonumber", 1);
		$("#photos-counter").html("1 / " + getMaxPhotoNumber(title));
		$("#photos-dialog-body").html("<img class='portfolio-photo' src='assets/portfolio/" + startImage + "' />");
		$("#photos-dialog").fadeToggle(400);
	}
	
	function loadNextPhoto(category){
		var photonumber = $("#photos-dialog-body").data("photonumber");
		if(photonumber != getMaxPhotoNumber(category)) {
			photonumber = photonumber + 1;
		}
		loadPhoto(category, photonumber);
	}
	
	function loadPrevPhoto(category){
		var photonumber = $("#photos-dialog-body").data("photonumber");
		if(photonumber != 1) {
			photonumber = photonumber - 1;
		}
		loadPhoto(category, photonumber);
	}
	
	function loadPhoto(category, photonumber) {
		var nextImage = "";
		if(category == "weddingphotos") {
			nextImage = "wd" + photonumber + ".png";
		}
		$("#photos-dialog-body").data("photonumber", photonumber);
		$("#photos-counter").html(photonumber + " / " + getMaxPhotoNumber(category));
		$("#photos-dialog-body").html("<img class='portfolio-photo' src='assets/portfolio/" + nextImage + "' />");
	}
	
	function getMaxPhotoNumber(category) {
		if(category == "weddingphotos") {
			return 14;
		}
	}
    

</script>
