<%= image_tag "portfolioheader_inshad.png", :class => "page-header" %>

<table class="page-table">
	<tr>
		<td class="main-column">
			<table class="package-table">
				<tr>
					<td class="package-title">Websites</td>
					<td class="package-price">W</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item capo-button' href="#" data-title='capo'></a></td>
					<td><a class='portfolio-item md-button' href="#" data-title='md'></a></td>
					<td><a class='portfolio-item wwwp-button' href="#" data-title='wwwp'></a></td>
					<td><a class='portfolio-item caseyli-button' href="#" data-title='caseyli'></a></td>
				</tr>
			</table>

			<table class="package-table">
				<tr>
					<td class="package-title">Photography</td>
					<td class="package-price">P</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item-photos weddingphotos-button' href="#" data-title='weddingphotos'></a></td>
					<td><a class='portfolio-item-photos eventphotos-button' href="#" data-title='eventphotos'></a></td>
					<td><a class='portfolio-item-photos corporatephotos-button' href="#" data-title='corporatephotos'></a></td>
				</tr>
			</table>
		
			
			<table class="package-table">
				<tr>
					<td class="package-title">Video</td>
					<td class="package-price">V</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item teldio-video-button' href="#" data-title='teldio-video'></a></td>
					<td><a class='portfolio-item northstar-video-button' href="#" data-title='northstar-video'></a></td>
					<td><a class='portfolio-item spy-am-i-video-button' href="#" data-title='spy-am-i-video'></a></td>
				</tr>
			</table>
		
			
			<table class="package-table">
				<tr>
					<td class="package-title">Graphic Design</td>
					<td class="package-price">G</td>
				</tr>
			</table>
			<table class="portfolio-items">
				<tr>
					<td><a class='portfolio-item-photos promos-button' href="#" data-title='promos'></a></td>
					<td><a class='portfolio-item-photos branding-button' href="#" data-title='branding'></a></td>
				</tr>
			</table>
			
		</td>
	</tr>
</table>

<%= render "portfolio_dialogs" %>
