<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Solink Explainer Video</h1>

      <div class="services">
        <span class="service">Motion Graphics Video Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      <p>
        With the Solink Explainer Video, we had a chance to work with the talented marketing team at Solink.
      </p>

      <h2>Outcome</h2>

      <iframe width="100%" height="400" src="https://www.youtube.com/embed/ftRver-ZjqE" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </div>

  
  
</div>