<div class="case-study splice-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Splice Web Application</h1>

      <div class="services">
        <span class="service">Web Application Design</span>
        <span class="service">Web Application Development</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      <p>
        The Story of Splice is coming soon. In the meantime, enjoy these screenshots or visit the app at <%= link_to "www.splice.co", "https://www.splice.co", target: "_blank" %>
      </p>

      <%= image_tag "splice_screenshots_1.png", class: "img-responsive" %>
    </div>
    
  </div>

  
  
</div>