<div id="pages-staff-dashboard">
  <div class="blank-page-navigation-bar">
    <div class="container">
      <div class="blank-page-nav-links">
        <%= link_to "BACK TO BITESITE.CA", "/" %>
      </div>
      <div class="clear-floats"></div>
    </div>
  </div>

  <div class='main container'>
    <h1>Staff Dashbaord</h1>
    <%= link_to "Edit Profile", "#" %><br />
    <%= link_to "Vacation System", "#" %>
  </div>
</div>