<div class="blank-page-navigation-bar">
	<div class="container">
		<div class="blank-page-nav-links">
			<%= link_to "BACK TO BITESITE.CA", "/" %>
		</div>
		<div class="clear-floats"></div>
	</div>
</div>

<div class="terms-and-conditions">

	<div class="container">
		<h1>Terms and Conditions</h1>

		<h2>Web Design & Development</h2>

		<h3>30-Day Warranty</h3>
		<p>
			For clients who have a finite project, BiteSite institutes a 30-day Warranty. 
			When a project is deemed complete between BiteSite and the client, 
			BiteSite will issue a final invoice. 30 Days from the date of the invoice, the
			client may request work to fix anything that does not meet the client's expectations
			that falls into the category of "what had been discussed" as part of the original project.
			Client's may also request work that it outside of this category, but BiteSite will consider
			this "new work" and charge appropriately for it.
		</p>


		<h3>Third-Party Services</h3>

		<h4>Uptime</h4>
		<p>
			BiteSite uses Third-Party services to implement its solutions. While BiteSite will strive
			to do all it can to ensure your Website or Web Application has a high uptime, it cannot
			guarantee 100% uptime. The nature of the Web is that services do occassionally go down.
		</p>
		<p>
			The Third-Party services that BiteSite uses include:

			<ul>
				<li>Heroku (for hosting)</li>
				<li>Amazon AWS S3 (for content management)</li>
				<li>Namecheap (for domain registration and nameservers)</li>
			</ul>
		</p>

		<h4>Pricing Changes</h4>
		<p>
			BiteSite for the most part offloads the cost of Third-Party services to the client. Services
			like Namecheap and Amazon AWS S3 are put into the hands of the client to manage payment. However,
			some services like Heroku, that remain generally free for most clients, BiteSite manages.
		</p>
		<p>
			BiteSite uses Heroku because of its durability, scalability, and ease of use combined with its
			cheap cost. BiteSite, however, cannot guarantee that Third-Party Services like Heroku will
			keep their pricing model static. In the event that Third-Party Services change their pricing
			model where both BiteSite and the Client are involved, the client may be asked to cover the cost.
		</p>

	</div>

	

</div>