<div id="pages-video">
  <div class="container">
    
    <h1>
      That's a wrap.
    </h1>

    <p>
      As of January 22nd, 2020, BiteSite will no longer be accepting video production projects. The company
      is now solely focused on custom software development. You can still view our full portfolio
      <%= link_to 'here', portfolio_path %>. We would like to thank all who supported us. You can read
      the official announcement <%= link_to 'here', 'https://www.bitesite.ca/blog/that-s-a-wrap' %>.
    </p>

    <p>
      If you would like some recommendations on other video production companies in Ottawa, do not hesitate
      to reach out.
    </p>

    <p>
      If you are intereted in our custom software services, you can read more about them <%= link_to 'here', services_path %>.
    </p>

    <p>
      Thank you.
    </p>

  </div>
</div>