<div id="video">
<%= render "pages/video_partials/hero" %>
<%= render "pages/video_partials/video_description" %>
<%= render "pages/home_partials/contact" %>
<%= render "pages/home_partials/footer" %>
</div>