<div id="pages-video">
  <div class="container">
    
    <div class="hero">
      <div class="slogan">
        We produce <span class='emphasize'>videos</span> to <br />educate, inspire, and sell.
      </div>
    </div>

    <div class="section services-section">
      <h1 class='section-header'>
        <span class='text'>Services</span>
        <div class='background-extension'></div>
      </h1>
      <div>
        BiteSite is a video production company shop that helps Ottawa businesses
        communicate their message. Whether it be an explainer video to illustrate
        your benefits or a testimonial video to highlight your credibility, we'll
        help you put out a professional video that will get the attention you
        deserve.
      </div>

      <div class="feature-list services-list">
        <div class="feature">
          <div class="feature-header">Pre-production</div>
          <div class="feature-body">
            Script and Concept, Scheduling, General Coordination
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">Production</div>
          <div class="feature-body">
            Shooting, Lighting, Interviewing
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">Post-production</div>
          <div class="feature-body">
            Editing, Motion Graphics, Music Selection, Sound Mixing, and Colour Grading
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h1 class='section-header'>
        <span class='text'>Common Projects</span>
        <div class='background-extension'></div>
      </h1>

      <div>
        
      </div>

      <div class="feature-list common-projects-list">
        <div class="feature">
          <div class="feature-header">Retainer</div>
          <div class="feature-body">
            Our latest offering comes direclty out of a need we recognized from our clients. They
            wanted repeatable, higher frequency releases to go along with their marketing strategies.
            That why we offer a retainer to act as a video production extension of your team.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">Explainer Videos</div>
          <div class="feature-body">
            From screencasts to full animated explainer videos, we love educating our clients users
            on what they have to offer.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">Testimonial Videos</div>
          <div class="feature-body">
            Hearing real words from real customers can really improve your credibility and highlight
            the impact your company has on the world. With testimonial videos, we'll help get the
            best answers out of the people who already love your work.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">Promo Videos</div>
          <div class="feature-body">
            
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">Training Videos</div>
          <div class="feature-body">
            
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">Event Coverage</div>
          <div class="feature-body">
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h1 class='section-header'>
        <span class='text'>Tools</span>
        <div class='background-extension'></div>
      </h1>
      <div>
        Here is a small sample of the tools we use to execute your vision
      </div>

      <div class="feature-list tools-list">
        <div class="feature">
          <div class="feature-header">Blackmagic Design Cameras</div>
        </div>

        <div class="feature">
          <div class="feature-header">DJI Gimbals</div>
        </div>

        <div class="feature">
          <div class="feature-header">Final Cut Pro X</div>
        </div>

        <div class="feature">
          <div class="feature-header">Adobe Creative Suite</div>
        </div>

        <div class="feature">
          <div class="feature-header">Davinci Resolve</div>
        </div>
      </div>
    </div>

    <div class="section">
      <h1 class='section-header'>
        <span class='text'>Customers</span>
        <div class='background-extension'></div>
      </h1>
      <div>
        Here are just a few of our customers
      </div>

      <div class="feature-list customer-list">
        <div class="feature">
          <div class="feature-header">Rewind</div>
        </div>

        <div class="feature">
          <div class="feature-header">Relogix</div>
        </div>

        <div class="feature">
          <div class="feature-header">L-SPARK</div>
        </div>

        <div class="feature">
          <div class="feature-header">App8</div>
        </div>
      </div>
    </div>

    <div class="section">
      <h1 class='section-header'>
        <span class='text'>Work with us</span>
        <div class='background-extension'></div>
      </h1>
      <div>
        Excited about your project? Ready to talk to us?
        <%= render 'pages/contact_form' %>
      </div>
    </div>

  </div>
</div>