<div id="video">
<%= render "pages/wedding_partials/hero" %>
<%= render "pages/wedding_partials/services" %>
<%= render "pages/home_partials/contact" %>
<%= render "pages/home_partials/footer" %>
</div>