<b>BiteSite.ca Message</b>

<p>
	The <%= @contestant.contest.name %> contest has been entered by: <%= "#{@contestant.first_name} #{@contestant.last_name}" %> (<%= @contestant.email %>).
</p>

<p>
	<%= @contestant.notes %>
</p>