<div class="case-study christine-kelly-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Christine Kelly PHD Web Application</h1>

      <div class="services">
        <span class="service">Web Application Design</span>
        <span class="service">Web Application Development</span>
        <span class="service">Photography</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>

      <p>
        Christine Kelly, a banting postdoctoral fellow at the time, needed a website to showcase her work and encourage
        others to participate in her projects. Besides a modern design, and a content management system to manage her projects,
        Christine Kelly brought to BiteSite's attention, the importance of accessibility. BiteSite learned a lot doing this
        project in terms of accessibility including proper contrast, designing for screen-readers, font-sizes, and more. As
        accessibility requirements become law, this project proved to be a great learning experience for BiteSite.
      </p>

      <%= image_tag "case_studies/christine_kelly_screenshots_1.png", class: "img-responsive" %>

      <h2>Outcome</h2>
      <p>
        Christine was very happy with the results of having a custom website built with custom photography. On top of being
        able to manage her projects and publications, she was able to present herself to the community the way she wanted.
      </p>

      <p>
        For more information about Christine Kelly, visit 
        <%= link_to "www.christinekelly.ca", "http://www.christinekelly.ca", target: "_blank" %>.
      </p>


    </div>
    
  </div>

  
  
</div>