<div class="case-study curtiss_wright-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Curtiss-Wright Defence Solutions TLCM Video</h1>

      <div class="services">
        <span class="service">Live Action Scripted Film Production</span>
        <span class="service">Motion Graphics Film Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      <p>
        In 2017, Curtiss-Wright Defense Solutions came to BiteSite looking for a video production to convey the benefits of their
        Total Lifecycle Management services. Their goal was to create something professional for the defense industry but to
        break free from traditional corporate video.
      </p>

      <p>
        After a few conversations and research with the TLCM team, BiteSite came up with the idea to create an explainer video
        that featured a lead actor explaining the benefits of the program mixed in with complex motion graphics to give it the
        edge they were seeking.
      </p>

      <h2>Outcome</h2>
      <p>
        From script, to storyboards, to shoot, to post-production, and tweaks, the TLCM video was a great project with heavy
        collaboration on both sides. There were a lot of moving parts to production and we were extremely pleased with the
        end result. Click on the image below to view the results.
      </p>



      <p>
        For more information about TLCM, visit 
        <%= link_to "https://www.curtisswrightds.com/capabilities/lifecycle-management.html", "https://www.curtisswrightds.com/capabilities/lifecycle-management.html", target: "_blank" %> 
        and for more information about Curtiss-Wright DS, visit
        <%= link_to "www.curtisswrightds.com", "https://www.curtisswrightds.com", target: "_blank" %>.
      </p>

      <%= link_to image_tag("case_studies/curtiss_wright_video_play.jpg", class: "img-responsive"), "https://www.curtisswrightds.com/content/videos/Curtiss-Wright_TLCM_Video-1080p.mp4" %>
      
    </div>
    
  </div>

  
  
</div>