<div class="case-study d3m-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Teldio D3M Explainer Video</h1>

      <div class="services">
        <span class="service">Motion Graphics Video Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      <p>
        A huge part of BiteSite's success is due to Teldio. Founder and CEO of BiteSite, Casey Li, started his company while still
        working for Teldio and they were gracious enough to give Casey a lot of opportunity to grow and develop his portfolio while
        working there. The Teldio D3M video was the first animated explainer video Casey had done and if it wasn't for the marketing
        team at Teldio and people like Chris Sisto, BiteSite may not exist today.
      </p>

      <h2>Outcome</h2>
      <p>
        Chris Sisto and the marketing team at Teldio was willing to give BiteSite a chance to do an animated explainer video even
        though we had never done one before.
        Working hard on the concept, script, and design together, all parties were very pleased with the end result and a lot of the
        lessons learned during this project, BiteSite still uses today.
      </p>

      <p>
        For more information about D3M, visit 
        <%= link_to "www.d3mnetworks.com", "https://www.d3mnetworks.com/", target: "_blank" %> 
        and for more information about Teldio, visit
        <%= link_to "www.teldio.com", "http://www.teldio.com", target: "_blank" %>.
      </p>

      <iframe width="100%" height="400" src="https://www.youtube.com/embed/JagGWFYr7w4" frameborder="0" allowfullscreen></iframe>
      
    </div>
    
  </div>

  
  
</div>