<div class="case-study filefacets-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>FileFacets How It Works Video</h1>

      <div class="services">
        <span class="service">Motion Graphics Video Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      <p>
        FileFacets is a market leader in the Information Governance space. Their solution allows their customers to handle millions of documents
        in an efficient and organized way. With a re-branding effort and new marketing strategy, CEO Chris Perram approached BiteSite to create
        a video that would easily explain their solution to potential customers.
      </p>


      <h2>Outcome</h2>
      <p>
        With amazing collaboration with the FileFacets team and a clear vision, we were able to produce one of our best animated productions to date.
        The FileFacets team was very happy with the result and quickly featured it on their website.
      </p>

      <div class='quote'>
        <div class="avatar">
          <%= image_tag "case_studies/chrisperram.png" %>
        </div>
        <div class="body">
          "We have written white papers, brochures, blogs and webpages trying to clearly describe what FileFacets is about.  Finally we have the perfect 90 second description." 
          <div class='author'>-Chris Perram, CEO, FileFacets</div>
        </div>
        <div class="clear"></div>
      </div>

      <p>
        For more information about FileFacets and their solution, visit 
        <%= link_to "www.filefacets.com", "http://www.filefacets.com", target: "_blank" %> 
      </p>

      <iframe width="100%" height="400" src="https://www.youtube.com/embed/bK8lGAQpeuE" frameborder="0" allowfullscreen></iframe>
      
    </div>
    
  </div>

  
  
</div>