<div class="case-study lspark-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>L-SPARK</h1>

      <div class="services">
        <span class="service">Live Action Film Production</span>
        <span class="service">Event Coverage</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>

      <p>L-SPARK is an Accelerator/Incubator program in the Ottawa, Canada area targeting companies in the Enterprise SaaS space.</p>

      <p>
        L-SPARK has been one of BiteSite's biggest video production customers and they have provided us the opportunity
        to create some of our best work. L-SPARK has really embraced video as part of their marketing strategy and BiteSite
        has been involved in producing videos for their various events to really tell the full L-SPARK story. Everything
        from their company Pitchfests, to Lunch n Learns, to Special Guest Events, and their SaaS Showcases - there is
        no shortage of material. The culmination of each cohort is the Grad Videos which have been some of BiteSite's
        proudest work.
      </p>

      <h2>Outcome</h2>
      <p>
        The outcome of all this work is a large library of video material that gives anyone who's interested a complete picture
        of the L-SPARK experience. With all the opportunities to produce video material, our relationship with L-SPARK has also
        given us a good platform to experiment and push our boundaries. Check out the videos below for a taste of what BiteSite
        and L-SPARK have been able to achieve together.
      </p>

      <div>
        <iframe src="https://player.vimeo.com/video/221324164" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    
      <div class="two-video-layout">
        <div class="left-video">
          <iframe src="https://player.vimeo.com/video/171814370" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="right-video">
          <iframe src="https://player.vimeo.com/video/139701560?byline=0&portrait=0" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        
        <div class="clear"></div>
      </div>

      <div class="four-video-layout">
        <div class="left-video">
          <iframe src="https://player.vimeo.com/video/162397688" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="middle-video">
          <iframe src="https://player.vimeo.com/video/149036642?title=0&byline=0" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="middle-video">
          <iframe src="https://player.vimeo.com/video/155529358?title=0&byline=0&portrait=0" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="right-video">
          <iframe src="https://player.vimeo.com/video/172912243" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        
        <div class="clear"></div>
      </div>

      <div class='quote wide'>
        <div class="avatar">
          <%= image_tag "case_studies/jamiepetten.png" %>
        </div>
        <div class="body">
            "The BiteSite team have been a critical resource in helping us to convey the key values of the L-SPARK program with our annual cohort video. The video captures the unique energy and enthusiasm that exists amongst our entrepreneurs and always results in an authentic representation of our brand. In addition to the flagship cohort video, L-SPARK has also integrated video into our event marketing strategy and the BiteSite team has executed flawlessly every time. BiteSite has also worked directly with our portfolio to assist them with crafting the story of their company as they prepare to go to market.  The pitch and explainer videos are an invaluable resource to our entrepreneurs as they exit the program and begin to engage with investors.”
          <div class='author'>-Jamie Petten, Marketing Manager, L-SPARK</div>
        </div>
        <div class="clear"></div>
      </div>

      <p>
        For more information about L-SPARK, visit 
        <%= link_to "www.l-spark.com", "http://www.l-spark.com", target: "_blank" %>.
      </p>

    </div>
    
  </div>

  
  
</div>