<div class="case-study solink-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Solink Explainer Video</h1>

      <div class="services">
        <span class="service">Motion Graphics Video Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">
      <h2>Story</h2>
      <p>
        Following the success of the <%= link_to "Teldio D3M Explainer Video", d3m_path %>, BiteSite was contacted by the marketing team at Solink. The Solink team had valuable experience in animated video production in the past and actually taught us a lot. The Solink
        marketing team handled the entire script and storyboards and left the animation to us.
      </p>

      <h2>Outcome</h2>
      <p>
        While BiteSite typically handles the entire production process, with Solink, we were given the opportunity to work with experienced
        veterans in the animated video production space. The script and storyboards that the Solink marketing team delivered were perfect
        and we were all very pleased with the end result.
      </p>

      <p>
        For more information about Solink, visit 
        <%= link_to "www.solinkcorp.com", "http://www.solinkcorp.com", target: "_blank" %>.
      </p>

      <iframe width="100%" height="400" src="https://www.youtube.com/embed/-TUKSOaLKTM" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </div>
  
</div>
