<div class="container">
  <h1>Editing Frequently Asked Question</h1>

  <%= render 'form', frequently_asked_question: @frequently_asked_question %>

  <%= link_to 'Back', frequently_asked_questions_path %>
</div>

