.accordian {
  border: 1px solid #c4c6c7;
  box-shadow: 0px 1px 3px rgba(97, 104, 105, 0.15);
  border-radius: 10px;

  .accordian-content {
    margin-top: 20px;
    color: $primary-shade-dark-color;
  }
  .accordian-icon {
    font-size: 30px;
    width: 100%;
    path {
      color: $primary-default-color;
    }
    &:hover {
      cursor: grab;
    }
    .accordian-clickable-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .edit-button {
    background: #2a7f89;
    box-shadow: 0px 8px 14px rgba(97, 104, 105, 0.15);
    border-radius: 1000px;
    transition-duration: 0.4s;
    width: 90px;
    height: 40px;
  }
  .delete-button {
    background: $dark-red;
    box-shadow: 0px 8px 14px rgba(97, 104, 105, 0.15);
    border-radius: 1000px;
    transition-duration: 0.4s;
    width: 90px;
    height: 40px;
  }
}

.faq-component {
  width: 100%;
  .faq-section {
    max-width: 1198px;
    padding: 128px 20px;
    .faq-heading {
      margin-bottom: 30px;
    }
  }
}
