.case-study-page {
  .horizontal-line {
    width: 786px;
    border: 1px solid #c4c6c7;
    color: $light-gray;
  }
  .case-study-header-content {
    width: fill;
    background-color: $lightest-gray;
    text-align: center;
    padding: 120px 20px;

    .site-link {
      margin-top: 50px;
      &:hover {
        cursor: pointer;
      }
    }
    .site-image {
      width: 889px;
    }
    .light-title {
      color: $primary-shade-dark-color;
    }
    .logo {
      width: 90px;
    }
    @media screen and (max-width: $medium-device-width) {
      .site-image {
        width: 500px;
      }
    }
    @media screen and (max-width: $mobile-device-width) {
      .site-image {
        width: 350px;
      }
    }
  }
  .case-study-info-card {
    padding: 128px 120px;

    .logo-small {
      width: 60px;
    }
    .case-image {
      width: 500px;
      max-height: 355px;
    }
    @media screen and (max-width: $medium-device-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .case-image {
        width: 350px;
        max-height: 355px;
      }
    }
  }

  @media screen and (max-width: $medium-device-width) {
    .horizontal-line {
      width: 300px;
    }
  }
}
