.case-studies-component {
  .dark-background {
    background-color: $background;
  }
  .case-studies-title {
    text-align: center;
  }

  .case-study-cards {
    flex-wrap: wrap;
    .case-study-item {
      width: 300px;
      box-shadow: 0px 1px 3px rgba(97, 104, 105, 0.15);
      border: 1px solid #c4c6c7;
      border-radius: 10px;

      .case-study-image {
        box-sizing: border-box;
        border-bottom: none;
        border-radius: 9px 9px 0 0;
      }

      .case-study-text {
        height: 100%;
        background-color: white;
        border-top: none;
        border-radius: 0 0 10px 10px;
      }
    }
  }
  .case-study-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

.case-studies-page {
  padding: 100px 16px 100px 16px;
}
.dark-background {
  background-color: $background;
}
