.contact-image {
  width: 582px;
  height: 337px;
  margin-right: -120px;
  margin-left: -100px;
}

.input-box-contact {
  border: 1px solid $light-gray;
  width: 584px;
  height: 40px;
}

.message {
  height: 160px;
}
