.footer {
  background: #ffffff;

  .container {
    padding: 48px 120px;
    background: #ffffff;
    box-shadow: 0px -1px 3px rgba(97, 104, 105, 0.15);
    width: fill;

    .company-info {
      border: solid white;

      .title {
        /* Caption/Bold */

        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        letter-spacing: 0.003em;

        /* Primary/Darkest */

        color: #004251;
      }

      .info {
        /* Caption/ Light */

        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.003em;

        /* Shade/Dark */

        color: #888e8e;
      }
    }

    .links {
      a,
      .company-links {
        gap: 4px;

        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;

        /* identical to box height, or 183% */

        letter-spacing: 0.3px;

        /* Shade/Darkest */

        color: #394243;
      }

      .resources-links {
        gap: 4px;
      }

      .links-title {
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        letter-spacing: 0.003em;

        /* Shade/Dark */

        color: #888e8e;
        white-space: nowrap;
      }
      .social-media-links {
        .icon {
          width: 20.14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .footer {
    .container {
      padding: 40px 16px;

      display: flex;
      flex-direction: column;

      .company-info {
        order: 2;
        margin-top: 25px;
        .info {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .footer {
    .container {
      padding: 40px 16px;

      .links {
        gap: 30px;
      }
    }
  }
}
