.general-component-card {
  background: $lightest-gray;
  padding: 128px 120px;

  .content-block {
    border: solid blue;
    flex-wrap: wrap;
    .content {
      width: 584px;

      .title {
        color: $darkest-gray;
      }

      .text {
        color: $darkest-gray;
      }
      .button {
        padding: 12px 20px;
        width: 255px;
        height: 50px;
        color: $light-white;
      }
    }

    .mobile-content {
      max-width: 584px;

      .title {
        color: $darkest-gray;
      }

      .text {
        color: $darkest-gray;
      }
      .button {
        padding: 12px 20px;
        width: 255px;
        height: 50px;
        color: $light-white;
      }
    }
  }

  .right {
    order: 1;
  }

  .image-block {
    .card-image {
      max-height: 500px;
    }
  }

  .mobile-image-block {
    order: 0;
    .card-image {
      max-height: 500px;
    }
  }
}

.products-image {
  height: 250px;
}
