.component-learn-more-about-us {
  max-width: 1440px;
  padding: 128px 120px;
  background-color: $background;
  .learn-more-about-us-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
    color: $darkest-gray;
    .learn-more-about-us-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
