.component-our-team {
  padding-top: 128px;
  padding-bottom: 128px;
  .our-team-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    .our-team-member {
      width: 200px;
      gap: 24px;
      padding: 8px;

      .our-team-member-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .our-team-member-title {
          color: $primary-shade-dark-color;
        }
      }
    }
  }
  @media only screen and (max-width: 780px) {
    padding-top: 40px;
    padding-bottom: 40px;
    .our-team-title {
      align-self: flex-start;
    }
  }
}
