.component-our-process {
  max-width: 1440px;
  height: 1200px;
  padding: 128px 120px;
  background-color: $background;
  .our-process-title {
    color: $darkest-gray;
    margin: 0;
  }
  .our-process-steps {
    position: relative;
  }
}
