.testimonial-section {
  height: 700px;
  width: fill;
  background-color: $lightest-gray;
  padding: 120px;

  .testimonial-card {
    background-color: $light-white;
    width: 788px;
    min-height: 444px;
    padding: 32px;

    border: 1px solid #c4c6c7;
    box-shadow: 0px 1px 3px rgba(97, 104, 105, 0.15);
    border-radius: 16px;

    .quotations-vector {
      width: 48px;
    }

    .company-logo {
      width: 48px;
    }

    .testimonial-body {
      color: $primary-shade-dark-color;
    }

    .testimonial-date {
      color: $primary-shade-dark-color;
    }
  }
}
