
.container {
	margin: 0 auto;
	position:relative;
	max-width:1170px;
	padding:0 20px;
	width:calc(100% - 40px);
}

.navigation-bar-fixed {
	position:fixed;
	top:0;
}

$header-height: 70px;

#header {
	height: $header-height;
	position: fixed;
	width: 100%;
	background: white;
	z-index: 1000;

	.container {
		display: flex;
		height: 100%;

		.logo-container {
			width: 185px;
			height: 100%;

			display: flex;
			align-items: center;

			.logo {
				width: 100%;
			}
		}

		.nav-links {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			height: 100%;
			width: calc(100% - 185px);

			a {
				font-style: normal;
				font-family: 'Avenir LT Std 65 Medium';
				color: $light-gray-1;
				text-decoration: none;
				text-transform: lowercase;
				margin: 0 20px;
				transition: 200ms;

				&:hover {
					color: $primary-color;
				}
			}
		}
	}

}

#content {
	padding-top: $header-height;

	.hero {
	  position: relative;
	  padding-top: 120px;
		
		.slogan {
		  position: relative;
		  text-align: left;
		  font-family: 'Avenir Next Condensed Regular';
		  text-transform: uppercase;
		  font-size: 85px;
		  line-height: 70px;

		  background: white;
		  padding: 30px 0px 30px 0;
		  z-index: 10;

		  .emphasize {
		    font-family: 'Avenir Next Condensed Medium';
		    color: $primary-color;
		  }
		}

		.subslogan {
		  font-family: 'Avenir LT Std 65 Medium';
		  font-size: 19px;

		  .emphasize {
		    font-family: 'Avenir LT Std 85 Heavy';
		  }
		}
	}

	.section {
		padding: 75px 0;
	}

	.feature-list {
		display: flex;

		.feature {

			.feature-header {
				font-family: 'Avenir LT Std 85 Heavy';
				font-size: 1.25em;
				height: 60px;
				display: flex;
				align-items: center;
			}

			.feature-body {
				text-align: justify;
			}
		}
	}
}

#footer {
	padding: 50px 0;
	background: $dark-primary-color-1;
	color: $primary-gray;
	font-size: 0.8em;
	text-transform: uppercase;
}


.blog-layout {
	.blog-main {
		padding-top:100px;

		.blog-title {
		  margin:40px 0px;
		  text-align:center;
		  font-family: 'Avenir LT Std 85 Heavy';
		}

		
		.blog-content {
		  float:left;
		  width: calc(100% - 340px);

		  @media only screen and (max-width: 1050px) {
		  	width: calc(100% - 220px);
		  }

		  @media only screen and (max-width: 760px) {
		  	float: none;
		  	width: 100%;
		  }
	  }

	  .blog-menu {
	    float:left;
	    width: 300px;
	    padding-left: 40px;

	    @media only screen and (max-width: 1050px) {
	    	width: 180px;
	    	padding-left: 40px;
	    }

	    @media only screen and (max-width: 760px) {
	    	float: none;
	    	width: 100%;
	    	padding: 0;
	    }

	    .menu-section {
	      margin-bottom: 30px;
	      
	      .menu-title {
	        font-family: 'Avenir LT Std 85 Heavy';
	        margin-bottom: 10px;
	      }

	      a {
	        display: block;
	        margin: 10px 0;
	        text-decoration: none;
	      }
	    }

	  }	
	}
}