#playbook-layout {
  .container {
    display: flex;

    a.playbook-menu-toggle {
      display: none;
    }

    .playbook-menu {
      a {
        display: block;
        padding: 10px;
        width: 200px;
        border-bottom: 1px solid $light-gray-1;

        &:last-child {
          border: none;
        }

        &.coming-soon-link {
          color: $light-gray-1;
        }
      }

      .menu-header {
        background: $primary-color;
        color: white;
        text-transform: uppercase;
        font-weight: 85;
        font-size: 0.7em;
        padding: 5px 5px 2px 5px;
        line-height: normal;
      }
    }

    .playbook-content {
      padding-left: 30px;

      h1 {
        font-size: 2em;
      }

      h2 {
        margin-top: 40px;
        font-size: 1.4em;
        text-transform: uppercase;
      }

      h3 {
        font-size: 1.25em;
        font-style: italic;
      }

      p {
        line-height: 2em;
      }

      img {
        max-width: 100%;
      }

      ul {
        li {
          margin: 20px 0;
        }
      }

      .disclaimer {
        margin: 60px auto;
        padding: 10px;
        background: $light-gray-3;
        border-radius: 3px;
        max-width: 600px;
        text-align: center;
        font-size: 14px;

        .main {

        }

        .sub {
          margin-top: 10px;
          font-size: 12px;
        }
      }
    }

  }
  
  @media screen and (max-width: $mobile-menu-device-width) {
    .container {
      display: block;

      a.playbook-menu-toggle {
        background: $light-primary-color-2;
        color: $primary-color;
        display: block;
        padding: 10px 0;
        text-align: center;
      }

      .playbook-menu {
        display: none;

        a {
          width: auto;
        }
      }

      .playbook-content {
        padding: 0;
      }
    }
  }
}