/* General */

body {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica", "Arial";
	height: 100%;
}

a {
	color: #999;
}

.text-line
{
	clear:both;
}

a:hover {
	color: #000;
}

a.bar-link {
	display: block;
	float:left;
	padding: 10px;
	border: 1px solid;
	border-color: #999;
	border-radius: 10px;
	background: #38425e;
	text-decoration: none;
	width: 200px;
	height: 60px;
	margin: 0 10px 0 10px;
	color: #eee;

	text-align: center;
}

a.bar-link:hover {
	text-decoration: none;
	background: #eee;
	color: #222;
}

.bar-links {
	margin: 10px auto;
	width: 726px;
	display:block;
	float:none;
}

/* Navigation */

.navigation {
	display:block;
	float: right;
}

.navigation a{
	padding: 10px;
	color: #ccc;
	text-decoration: none;
}

.navigation a:hover {
	color: #fff;
}

.center-block {
	display:block;
	text-align: center;
}

/* Layout */

.container {
	margin: 0 auto;
	width: 900px;
	padding: 20px 0 20px 0;
}


/* Header */

.header {
	height: 50px;
	background: #555;
	padding: 10px 0;
}

/* Main Body */
.main-body {
	padding-bottom: 100px /* Footer spacing */
}

/* Footer */
.footer {
	background: #000;
	height: 100px;
	position:absolute;
	bottom:0;
	width: 100%;
	color: #fff;
	font-size: 0.8em;
}

/* Modal Dialogs */

table.dialog tr td {
	vertical-align: top;
	font-size: 0.8em;
}

.modal-dialog {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
	height: 100%;
    z-index: 1000;
    background-image: url("/background-trans.png");
}

.modal-dialog-body{
	position:fixed;
	width:500px;
	left: 50%;
    margin: 100px -265px;
    background-color: #EEEEEE;
    border:3px solid #330000;
    padding:15px;
    border-radius: 10px;
    color: #111;

	h1 {
		font-size: 1.5em;
	}
	
	h2 {
		font-size: 1.2em;
		padding: 0px;
		margin: 5px 0 0 0;
	}
}