/* General */

body {
	padding: 0px;
	margin: 0px;
	font-family: "Raleway";
}

body.fixed-nav {
	padding-top:60px;
}

.clear-floats {
	clear:both;
}

p {
	color:#555;
}

a {
	border:none;
}

.btn {
	background: #e8edfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8edfc 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8edfc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8edfc 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8edfc 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8edfc 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8edfc 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8edfc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	
	display:block;
	padding:10px 20px;
	
	box-shadow:inset 1px 1px 1px white, 1px 1px 1px black;
	border-radius:5px;
	text-align:center;
	text-decoration:none;
	color:black;
	margin-bottom:10px;
	font-family: "Oswald";
	&:hover {
		background:#ccc;
		color:white;
	};
}

/* Layout */

.container {
	margin: 0 auto;
	width: 960px;
	height:100%;
	position:relative;
	overflow:hidden;
	/*border-right: 1px solid #333;
	border-left: 1px solid #333;*/
}

/* Text */
h1 {
	padding:0px;
	margin:20px 0px;
	display:block;
	text-align:center;
	width:100%;
	font:"Raleway";
	font-weight:200;
	font-size:50px;
}

h2 {
	padding:0px;
	margin: 0px;
}

h3 {
	color:#555;
}

/* Modal Dialogs */

table.dialog tr td {
	vertical-align: top;
	font-size: 0.8em;
}

.modal-dialog {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
	height: 1500px;
    z-index: 1000;
    background-image: url("/assets/background-trans.png");
}

.modal-dialog-body{
	position:relative;
	width:500px;
	left: 50%;
    margin: 100px -265px;
    background-color: #EEEEEE;
    border:10px solid #FFF;
    padding:15px;
    border-radius: 10px;
    color: #111;

	h1 {
		font-size: 1.5em;
	}
	
	h2 {
		font-size: 1.2em;
		padding: 0px;
		margin: 5px 0 0 0;
	}
}

.modal-dialog-actions {
	text-align: right;
	padding: 10px 0 10px 0;
}

/* Links and Buttons */
.standard-button {
	padding: 10px;
	font-size: 1em;
	border-radius: 8px;
	background-color: #333;
	color: #888;
	text-decoration: none;

}

a.standard-button {
	line-height: 40px;
	font-size: 12px;
	padding: 10px 20px 10px 20px;


	&:hover {
		background-color: black;
		color: white;
		text-decoration: none;
	}
}


/* Forms */

.field {
	padding-bottom: 10px;
}

.ajax-loader {
	vertical-align:middle;
}


