
.container {
	margin: 0 auto;
	width: 960px;
	height:100%;
	position:relative;
	overflow:hidden;
	/*border-right: 1px solid #333;
	border-left: 1px solid #333;*/
}



/* Header Links */
.header-links {
	text-align:right;
	position:absolute;
	width:100%;
	z-index:10;
	
	.header-link {
		background:white;
		color:#222;
		text-decoration:none;
		padding:5px 20px;
		display:inline-block;
		font-size:10px;
		&:hover {
			background:#eee;
		};

		.header-link-rest {
			display:none;
			width:0;
		}

		&:hover {
			.header-link-rest {
				display:inline;
			}
		}
	}


}