// Place all the styles related to the NewsPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-post {
}

.news-post-header {
	font-size: 20px;
	color:white;
	padding: 10px;
	background:#eee;
	color:#555;
}

.news-post-actions {
	float:right;
	font-size:12px;
	
	a {
		color:white;
		&:visited{
			color:white;
		};
	}
}

.news-post-date {
	font-size:12px;
	margin-top:2px;
	font-style:italic;
}

.news-post-body {
	display:block;
	padding: 10px 0;
	background:#ddd;
	min-height: 110px;
	color:#555;
	a {
		font-weight:bold;
		text-decoration:underline;
	}
}

.clear-floats {
	clear:both;
}

.news-post-image {
	width:100px;
	margin: 0px 10px 10px 10px;
	float:left;
}