// Place all the styles related to the NewsPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-index {
	padding-top:64px;
}

.news-navigation-bar {
	background:#ddd;
	width:100%;
	z-index:1000;
	position:fixed;
	box-shadow:0px 2px 5px #888;
}

.news-nav-links {
	text-align:center;
	width: 300px;
	margin: 0 auto;
	
	a {
		float:left;
		display:block;
		width: 240px;
		padding:10px 30px;
		margin:10px 0px;
		color:#666;
		text-decoration:none;
		font-family: "Raleway", "Arial";
		font-size:20px;
		font-weight:400;

		
		&:hover {
			background:white;
			color:black;
			border-radius:30px;
		};
	}
}

.news-post {
	border-top:1px solid #eee;
	border-bottom:1px solid #ccc;
}

.news-post-header {
	font-size: 20px;
	color:white;
	padding: 10px;
	background:#fff;
	color:#555;
	font-weight:400;
}

.news-post-actions {
	float:right;
	font-size:12px;
	
	a {
		color:#555;
		&:visited{
			color:#555;
		};
	}
}

.news-post-date {
	font-size:12px;
	margin-top:2px;
	font-style:italic;
}

.news-post-body {
	display:block;
	padding: 10px 0;
	background:#fff;
	min-height: 110px;
	color:#555;
	font-size:14px;
	a {
		font-weight:bold;
		text-decoration:underline;
	}
}

.clear-floats {
	clear:both;
}

.news-post-image {
	width:100px;
	margin: 0px 10px 10px 10px;
	float:left;
}

