// Place all the styles related to the NewsPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-post {
	margin-bottom: 30px;
	width:80%;
}

.news-post-header {
	font-size: 20px;
	border-radius: 5px 5px 0 0 ;
	color:white;
	padding: 10px;
	
	background: #2d2d2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d2d2d 0%, #595959 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(100%,#595959)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2d2d2d 0%,#595959 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2d2d2d 0%,#595959 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2d2d2d 0%,#595959 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2d2d2d 0%,#595959 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#595959',GradientType=0 ); /* IE6-9 */
	
}

.news-post-actions {
	float:right;
	font-size:12px;
	
	a {
		color:white;
		&:visited{
			color:white;
		};
	}
}

.news-post-date {
	font-size:12px;
	margin-top:2px;
	font-style:italic;
}

.news-post-body {
	display:block;
	padding: 10px 0;
	background:#ddd;
	min-height: 110px;
	
	a {
		font-weight:bold;
		text-decoration:underline;
	}
}

.clear-floats {
	clear:both;
}

.news-post-image {
	width:100px;
	margin: 0px 10px 10px 10px;
	float:left;
}