// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* HOME ******************************************************/

.features-table {
	padding-top: 20px;
	width: 100%;
	
	td {
		border-right: 1px solid;
		border-color: #000;
		
		vertical-align: top;
		width: 25%;
		font-size: 0.8em;
		padding: 10px;
		color: #eee;
		background: #444;
		
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.16, #111),
			color-stop(0.93, #555)
		);
		
		h3 {
			margin: 2px 0 10px 0px;
		}
		
	}
	
	td.right-edge-cell {
		border-right: none;
	}
	
}


/* PACAKGES ******************************************************/

.package-table {
	width: 100%;

	font-size: 1.5em;
	font-weight: bold;
	border-collapse:collapse;
	
	tr td {
		padding: 10px;
	}
	tr td.package-title {
		color: #555;
		background: #fff;
		border: solid 1px;
		border-color: #777;
	}
	
	tr td.package-price {
		color: #fff;
		background: #777;
		border: solid 1px;
		border-color: #777;
		font-weight: normal;
		font-size: 0.7em;
		width: 150px;
	}
}

.icon-image {
	padding-bottom: 10px;
}

/* PORTFOLIO *******************************************************/

.portfolio-items {
	padding: 10px;
}

.portfolio-item {
	display: block;
	width: 163px;
	height: 149px;
	margin: 10px;
}

.portfolio-item:hover {
	background-position: 0 0;
}

.capo-button {
	background: url('/images/portfolio/Capo.png') bottom;	
}

.md-button {
	background: url('/images/portfolio/MarilynAndDouglas.png') bottom;	
}

.wwwp-button {
	background: url('/images/portfolio/wwwp.png') bottom;	
}

.caseyli-button {
	background: url('/images/portfolio/caseylicom.png') bottom;	
}

.teldio-video-button {
	background: url('/images/portfolio/TeldioVideo.png') bottom;
}

.northstar-video-button {
	background: url('/images/portfolio/NorthstarVideo.png') bottom;
}

.spy-am-i-video-button {
	background: url('/images/portfolio/SpyamiVideo.png') bottom;
}

.promos-button {
	background: url('/images/portfolio/promos.png') bottom;
}

.branding-button {
	background: url('/images/portfolio/branding.png') bottom;
}

.corporatephotos-button {
	background: url('/images/portfolio/corporatephotos.png') bottom;
}

.weddingphotos-button {
	background: url('/images/portfolio/weddingphotos.png') bottom;
}

.eventphotos-button {
	background: url('/images/portfolio/eventphotos.png') bottom;
}