// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* GENERAL ***************************************************/


/* HOME ******************************************************/

.logo {
	position:absolute;
	top:180px;
	right:60px;
}

.business-card {
	position:absolute;
	bottom:0px;
	left:60px;
}

.hero {
	height:500px;
	border-bottom:1px solid #999;
}

.hero-description {
	text-align:right;
	position:absolute;
	font-size:14px;
	right:60px;
	top:300px;
	display:block;
	width: 400px;
	color: #5d5d5d;
}

.navigation-bar {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #636363 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#636363)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#636363 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#636363 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#636363 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#636363 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
	width:100%;
	z-index:1000;
}

.navigation-bar-fixed {
	position:fixed;
	top:0;
}

.nav-links {
	text-align:center;
	width: 600px;
	margin:0 auto;
	a {
		float:left;
		display:block;
		width: 90px;
		padding:15px 30px;
		margin:0px;
		color:white;
		text-decoration:none;
		
		&:hover {
			background:white;
			color:black;
		};
	}
}

.page-section {
	background:#ddd;
	border-bottom:1px solid #999;
	border-top:1px solid #FFF;
	padding-bottom:30px;
	position:relative;
}

.services-section {
	padding-bottom:0px;
}

.news-section {
	background:#efefef;
}

.about-section {
	background:#dedede;
}

.contact-section {
	background:#cfcfcf;
}

.footer {
	background:black;
}

.feature {
	
	margin: 50px 0px 20px 0px;
	
	.caption-left, .screenshot-left {
		float:left;
	}

	.caption-right, .screenshot-right {
		float:right;
	}

	.caption {
		width: 46%;
		font-size:16px;
		line-height:1.5;
		color:#555;
	}


	.screenshot {
		width: 46%;
		vertical-align:middle;
	}
	
	.price-tag {
		margin: 20px auto;
		width:50%;
	}
	
	.webdesign {
		position:relative;
		left:10px;
	}
	
	.photography, .graphicdesign {
		position:relative;
		left:0px;
		left:-500px;
	}
	
	.mobiledevelopment, .videoproduction {
		position:relative;
		left:500px;
	}	
}

.recent-news-posts {
	
}

.recent-news-post {
	width:280px;
	padding:0px 20px;
	float:left;
	text-align:center;
	margin-bottom:40px;
}

.recent-news-post-image {
	width: 150px;
	height:150px;
	margin:0px auto;
	border:5px solid #ccc;
}

.recent-news-post-body {
	text-align:left;
	font-size:12px;
	padding:0px 10px;
}

.more-news {

	background: #545454; /* Old browsers */
	background: -moz-linear-gradient(top,  #545454 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #545454 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #545454 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #545454 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #545454 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	text-decoration:none;
	color:black;
	display:block;
	width:200px;
	padding:10px;
	border:1px solid #222;
	border-radius: 5px;
	margin: 0 auto 20px auto;
	text-align:center;
	box-shadow:inset 1px 1px 1px white;
	border-color:white;
	
	&:hover {
		background:black;
		color:white;
	};
}

.about-picture {
	box-shadow:5px 5px 5px black;
}

.about-text {
	font-size:12px;
}

.about-picture-caption {
	position:absolute;
	top:200px;
	left:130px;
	color:white;
	font-size:20px;
}

.contact-form {
	width: 60%;
	float:left;
}

.contact-caption {
	width: 35%;
	float:right;
}

.footer-info {
	margin: 30px 0;
	width:100%;
	text-align:center;
	color:#999;
	font-size:20px;
}

/* PACAKGES ******************************************************/

.package-table {
	width: 100%;

	font-size: 1.5em;
	font-weight: bold;
	border-collapse:collapse;
	
	tr td {
		padding: 10px;
	}
	tr td.package-title {
		color: #555;
		background: #fff;
		border: solid 1px;
		border-color: #777;
	}
	
	tr td.package-price {
		color: #fff;
		background: #777;
		border: solid 1px;
		border-color: #777;
		font-weight: normal;
		font-size: 0.7em;
		width: 150px;
	}
}

.icon-image {
	padding-bottom: 10px;
}

/* PORTFOLIO *******************************************************/

.portfolio-items {
	padding: 10px;
}

.portfolio-item, .portfolio-item-photos {
	display: block;
	width: 163px;
	height: 149px;
	margin: 10px;
	
	&:hover {
		background-position: 0 0;
	}
}

.capo-button {
	background: url('/assets/portfolio/Capo.png') bottom;	
}

.md-button {
	background: url('/assets/portfolio/MarilynAndDouglas.png') bottom;	
}

.wwwp-button {
	background: url('/assets/portfolio/wwwp.png') bottom;	
}

.caseyli-button {
	background: url('/assets/portfolio/caseylicom.png') bottom;	
}

.teldio-video-button {
	background: url('/assets/portfolio/TeldioVideo.png') bottom;
}

.northstar-video-button {
	background: url('/assets/portfolio/NorthstarVideo.png') bottom;
}

.spy-am-i-video-button {
	background: url('/assets/portfolio/SpyamiVideo.png') bottom;
}

.promos-button {
	background: url('/assets/portfolio/promos.png') bottom;
}

.branding-button {
	background: url('/assets/portfolio/branding.png') bottom;
}

.corporatephotos-button {
	background: url('/assets/portfolio/corporatephotos.png') bottom;
}

.weddingphotos-button {
	background: url('/assets/portfolio/weddingphotos.png') bottom;
}

.eventphotos-button {
	background: url('/assets/portfolio/eventphotos.png') bottom;
}

.vimeo-video-modal-dialog-body {
	width: 640px;
	left: 50%;
	margin: 100px -315px;	
}

.vimeo-wide-video-modal-dialog-body {
	width: 720px;
	left: 50%;
	margin: 100px -415px;	
}

.youtube-video-modal-dialog-body {
	width: 775px;
	left: 50%;
	margin: 100px -403px;	
}

.photos-modal-dialog-body {
	width: 800px;
	left: 50%;
	margin: 100px -425px;

	text-align:center;
}

.portfolio-photo {
	height: 520px;
}