/* VIDEO ***************************/

.video-hero {
  height:500px;
  width:100%;
  background:#000;
  background-image:url("/assets/videohero.jpg");
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
}

.video-hero-description {
  text-align:right;
  position:absolute;
  font-size:14px;
  right:60px;
  top:300px;
  display:block;
  width: 400px;
  color: #fff;
}

.video-description {
  text-align:center;
  width:760px;
  margin:0 auto 30px auto;
}

.video-price-tag {
  margin: 20px 0;
  width:200px;
}

.video-listing {
  float:left;
  padding:11px;
  width: 170px;
  
  .video-listing-caption {
    text-align:center;
    height:40px;
    font-size:13px;
  }
}

