<table class='resource-table'>
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Entry date</th>
      <th>Time off type</th>
      <th>Amount</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render time_off_entries %>
  </tbody>
</table>