<div id="time-off-entries-edit">
  <div class="container">
    <h1>Editing Time Off Entry</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @time_off_entry %> |
    <%= link_to 'Back', time_off_entries_path %>
  </div>
</div>

