<div id="footer">
  <div class="container">
    <div>
      BiteSite Inc.<br />
      Custom Software and Video Production<br />
      info@bitesite.ca<br />
      204 - 78 George St.<br />
      Ottawa, ON<br />
      K1N 5W1<br />
      <%= link_to 'Staff Sign in', new_user_session_path %>
    </div>

    <div>
      
    </div>

    <div>
    </div>
  </div>
</div>