<div id="footer">
  <div class="container">
    BiteSite Inc.<br />
    Custom Software and Video Production<br />
    info@bitesite.ca<br />
    204 - 78 George St.<br />
    Ottawa, ON<br />
    K1N 5W1
  </div>
</div>