<table class="footer-table">
	<tr>
		<td class="footer-info">
			BiteSite<br>
			Ottawa, ON<br>
			<%= link_to "info@bitesite.ca", "/contact", :class => "footer-link" %><br>
			<%= link_to "contact", "/contact", :class => "footer-link" %>			
		</td>
		<% if !@recent_news_posts.blank? %>
			<td class="footer-news">
				<h2>Recent News</h2>
				<ul>
					<% @recent_news_posts.each do |news_post| %>
						<li><%= link_to news_post.title, "/news_posts", :class => "footer-link" %></li>
					<% end %>
				</ul>
			</td>
		<% end %>
	</tr>
</table>

