<div id="header">
  <div class="container">
    <div class='logo-container'>
      <%= link_to image_tag('logo2015-blue.png', class: 'logo'), root_path %>
    </div>
    <div class='nav-links'>
      <%= render 'layouts/nav_links' %>
    </div>

    <div class='mobile-menu-toggle-container'>
      <%= link_to fa_icon('bars'), '#', class: 'mobile-menu-toggle' %>
    </div>
  </div>
</div>

<div class="mobile-nav-links-container">
  <div class="mobile-nav-links">
    <%= render 'layouts/nav_links' %>
  </div>
</div>