<h1>BiteSite Staff Portal</h1>
<p>
  Welcome to the BiteSite staff portal.
  Here, you'll be able to do things like book your vacation,
  post blog articles, and manage your profile. To get started, please login.
</p>

<h2>Login</h2>

<form>
  <div class="field">
    <label for="">Email address</label><br />
    <input type="text" />
  </div>
  <div class="field">
    <label for="">Password</label><br />
    <input type="password" />
  </div>
  <div class="field">
    <input type='checkbox' /> <label>Remember me</label>
  </div>
  <div class="actions">
    <input type='submit' value='Submit' />
  </div>

  <p>
    Forgot your password? Click <a href='#'>here</a>.<br />
    Don't have an account? Register <a href='#'>here</a>.<br />
    If you have any problems, email <a href='#'>info@bitesite.ca</a>.
  </p>
</form>