.about-page {
  width: 100%;

  .learn-more-about-us-container {
    gap: 160px;
    padding-top: 128px;
    padding-bottom: 128px;

    .general-component-card {
      background: none;
      justify-content: end;

      .how-we-work-button {
        width: 150px;
      }

      .contact-us-button {
        width: 190px;
      }
    }

    &.dark-background {
      background-color: $background;
    }
  }

  .learn-more-about-us-post {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
}
