/* CASE STUDIES ********************/
.case-study {
  .hero {
    height:200px;
    background-size:cover;

    h1 {
      letter-spacing:0px;
      margin-top:50px;
      color:white;
      text-shadow:2px 2px black;
      font-family: "Avenir LT Std 65 Medium";
    }



    .services {
      .service {
        border:1px solid white;
        padding:5px 10px;
        color:white;
      }
    }
  }

  .main-body {
    padding:20px 0;

    h2 {
      margin-top:40px;
      text-align:center;
    }

    .two-video-layout {
      .left-video {
        width:calc(50% - 5px);
        float:left;
        padding-right:5px;
      }

      .right-video {
        width:calc(50% - 5px);
        float:left;
        padding-left:5px;
      }

      @media only screen and (max-width: $mobile-menu-device-width) {
        .left-video, .right-video { width: 100%; padding:0; float:none; }
      }
    }

    .four-video-layout {
      .left-video {
        width:calc(25% - 5px);
        float:left;
        padding-right:5px;
      }

      .middle-video {
        width:calc(25% - 5px);
        float:left;
        padding-left:2.5px;
        padding-right:2.5px;
      }

      .right-video {
        width:calc(25% - 5px);
        float:left;
        padding-left:5px;
      }

      @media only screen and (max-width: $mobile-menu-device-width) {
        .left-video, .right-video, .middle-video { width: 100%; padding:0; float:none; }
      }
    }

    .quote {
      font-family: "Avenir LT Std 45 Book Oblique";
      width:100%;
      max-width:700px;
      margin:40px auto;
      line-height:2em;



      .avatar {
        float:left;
        width:calc(20% - 20px);
        padding:10px;

        img {
          width:100%;
        }
      }

      .body {
        float:left;
        width:calc(80% - 20px);
        padding:10px;

        .author {
          font-size:0.9em;
        }
      }

      &.wide {
        max-width:100%;

        .avatar {
          max-width:120px;
        }
      }
    }

    p {
      line-height:2em;

      b {
        font-family: "Avenir LT Std 65 Medium";
      }
    }
  }
}

.is-case-study .hero { background-image:url(/assets/is_header_bg.jpg); }
.mydoma-case-study .hero { background-image:url(/assets/mydoma_header_bg.jpg); }
.lspark-case-study .hero { background-image:url(/assets/lspark_header_bg.jpg); }
.filefacets-case-study .hero { background-image:url(/assets/filefacets_header_bg.jpg); }
.ewa-case-study .hero { background-image:url(/assets/ewa_header_bg.jpg); }
.martello-case-study .hero { background-image:url(/assets/martello_header_bg.jpg); }
.splice-case-study .hero { background-image:url(/assets/splice_header_bg.jpg); }
.d3m-case-study .hero { background-image:url(/assets/d3m_header_bg.jpg); }
.christine-kelly-case-study .hero { background-image:url(/assets/christinekelly_header_bg.jpg); }
.solink-case-study .hero { background-image:url(/assets/solink_header_bg.jpg); }