/* HOME ******************************************************/
.hero {
  height:400px; 
  background: url("/assets/herobg.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top center;

  .container {
    text-align:center;

    .logo {
      margin-top:70px;
      max-width:100%;
    }

    .hero-description {
      display:block;
      max-width: 800px;
      width:100%;
      margin:0 auto;
      color: white;
      font-size:1.2em;

      strong {
        font-family: 'Avenir LT Std 65 Medium';
      }
    }

  } 

  .contact-us-hero {
    background:#444;
    display:block;
    width: 120px;
    padding: 10px 10px;
    text-align:center;
    text-decoration:none;
    border-radius:5px;
    margin:40px auto 10px auto;
    color:white;
    font-weight:normal;
    font-size:0.8em;
    
    &:hover {
      background:#222;
      color:white;
    };
  }
}


.navigation-bar {
  background:$dark-aqua;
  width:100%;
  z-index:1000;

  .logo-container {
    float:left;
    
    img.logo {
      height:30px;
      opacity:0;
      margin-top:7px;
      -webkit-transition: opacity 300ms;
      transition: opacity 300ms;

      &.visible {
        opacity:1;
      }
    }

    
  }

  .nav-links.normal-menu {
    
    float:right;

    @media only screen and (max-width: $mobile-menu-device-width) {
      display:none;
    }

    a {
      display:inline-block;
      height:25px;
      padding-top:10px;
      color:#ccc;
      margin-left:30px;
      text-decoration:none;
      font-family: "Avenir LT Std 35 Light";
      font-size:0.8em;
      font-weight:400;
      border-top:3px solid transparent;

      -webkit-transition: border 200ms, color 200ms;
      transition: border 200ms, color 200ms;
      
      &.nav-selected {
        color:white;
        border-top:3px solid white;
      };
      
      &:hover {
        color:#ddd;
        border-top:3px solid #ddd;
      };
      

    }
  }

  .mobile-menu {
    display:none;

    .mobile-menu-toggle {
      color:white;
      font-size:2em;
      padding-top:5px;
      float:right;
    }
  }

  @media only screen and (max-width: $mobile-menu-device-width) {
    .mobile-menu {
      display:block;
    }
  }


  .nav-links.mobile-menu {
    display:none;
    a {
      display:block;
      padding:15px 0;
      background:transparent;
      text-decoration:none;
      text-align:center;
      margin:0;
      color:white;
    }
  }
}

.page-section {
  background:#fff;
  padding-bottom:30px;
  position:relative;
  font-size:0.9em;
  line-height:2em;
}

/* FEATURED WORK */
.featured-work-section {
  padding-bottom:50px;
  .featured-work-listings {
    line-height:0px;

    a {
      margin:0;
      position:relative;
      display:block;
      width:25%;
      float:left;

      -webkit-transition: box-shadow 300ms;
      transition: box-shadow 300ms;

      @media only screen and (max-width: 800px) {
        width:50%;
      }

      @media only screen and (max-width: 500px) {
        width:100%;
      }

      img.featured-work-listing {
        width:100%;
        margin:0; 
      }

      &:hover {
        z-index:500;
        box-shadow:0 0 20px black;
      }
    }
    
  }

  .portfolio-link-container {
    text-align:center;
    margin-top:20px;

    a {
      text-decoration:none;
    }
  }
}

/* SERVICES */
.services-section {

  background:$dark-aqua;
  color:white;

  h1 {
    color:white;
  }

  .feature {
    width:calc(33.3333% - 40px);
    float:left;
    padding:0 20px;
    text-align:center;

    @media only screen and (max-width: 800px) {
      float:none;
      width:100%;
      padding:0;
      margin:30px 0;
    }

    .feature-icon {
      color:white;
      font-size:3em;
      margin-bottom:20px;
    }

    h2 {
      text-align:center;
      margin-bottom:20px;
    }

    .description {
      text-align:justify;
      color:#ddd;
    }
  }

  .competencies-section {
    margin:40px 0 20px 0;
    color:#aaa;
    text-align:center;
    line-height:1em;
    font-size:0.9em;

    .competencies {
      margin:10px 0;

      .competency {
        display:inline-block;
        margin:5px;
      }
    }
  }

  .tools-section {
    margin:10px 0 20px 0;
    color:#aaa;
    text-align:center;
    line-height:1em;
    font-size:0.9em;

    .tools {
      margin:10px 0;

      .tool {
        display:inline-block;
        margin:5px;
      }
    }
  }
}



/* ANNOUNCEMENTS */
.announcement-section {
  text-align:center;
}
.announcement {
  display:inline-block;
  margin:10px auto;
  padding: 10px 30px;
  text-decoration:none;
  background:#82A9AC;
  color:white;
  border:1px solid #567173;
  border-radius:20px;
  font-weight:normal;
}


/* NEWS */
.news-section {
  background:#efefef;
  border-top:1px solid #ccc;
  text-align:center;
  background:#111;
  
  h1 {
    color:#999;
  }
}

.recent-news-posts {
  
}

.recent-news-post {
  width:calc(33.3333% - 40px);
  padding:0px 20px;
  float:left;
  text-align:center;
  margin-bottom:40px;

  @media only screen and (max-width: 800px) {
    width:100%;
    padding:0;
  }

}

.recent-news-post-image {
  width: 170px;
  height:150px;
  margin:0px auto;
  border:5px solid #ccc;
}

.recent-news-post-body {
  margin-top:15px;
  text-align:left;
  padding:0px 10px;
  color:#555;
  color:#999;
  text-align:justify;
  
  a {
    color:#aaa;
    font-weight:600;
  }
}

.more-news {
  margin:5px auto;
}


/* ABOUT */

.about-section {
  background: #fff; 
  background-position:bottom center;
  background-repeat:no-repeat;
  border-top:1px solid #bbb;  
}

.about-text {
  text-align:justify;
}

.staff-listings {
  background: #fff;

  .were-hiring {
    text-align:center;
    margin:30px 0 20px 0;

    a {
      text-decoration:none;
    }
  }
  
  .staff-listing {
    width:20%;
    float:left;
    margin-bottom:30px;
    text-align:center;

    img {
      width:100px;
      display:inline-block;
    }
    .caption {
      .name {
        font-family:"Avenir LT Std 85 Heavy";
      }
    }

    @media only screen and (max-width: 800px) {
      display:block;
      width:33.333332%;
      float:left;
      text-align:center;

      img {
        display:block;
        float:none;
        margin:0 auto;
      }

      .caption {
        float:none;
      }
    }

    @media only screen and (max-width: 500px) {
      width:50%;
    }

  }
}


/* CONTACT */
.contact-section {
  background:#efefef;
  border-top:#bbb;
}

.contact-form {
  width: 60%;
  float:left;
}

.contact-caption {
  width: 35%;
  float:right;
  line-height:2em;
  text-align:justify;
}

@media only screen and (max-width: $mobile-menu-device-width) {
  .contact-form {
    width:100%;
    float:none;
  }

  .contact-caption {
    width:100%;
    float:none;
  }
}

.contact-submit-info {
  display:block;
  width:100%;
  font-weight:bold;
}

.contact-submit-success {
  color:green;
}

.contact-submit-error {
  color:red;
}

.contact-field  {
  width: calc(100% - 10px);
  border: 1px solid;
  border-left:none;
  border-top:none;
  border-right:none;
  border-color: #999999;
  padding: 5px;
  background-color:#fff;
  
  &:focus {
    background-color:#ddd;
  };
}

/* FOOTER *********************/
.footer {
  background:#222;
}

.footer-info {
  margin: 30px 0;
  width:100%;
  text-align:center;
  color:#999;

  .page-links {
    a {
      text-decoration:none;
      margin:0 10px;
    }
  }
}

.footer-ads {
  width:100%;
  text-align:center;

  img {
    height:auto;
    width:100%;
    max-width:600px;
  }
}

.footer-ads-caption {
  margin: 5px 0;
  color:#666;
}
