#pages-home {
  .circles-container {
    position: absolute;
    text-align: center;
    width: 100%;

    img.circles {
      opacity: 0.3;
      position: relative;

      width: calc(100% - 150px);
      max-width: 500px;

      -webkit-animation: rotation 40s linear infinite;
      -moz-animation: rotation 40s linear infinite;
      animation: rotation 40s linear infinite;
    }
  }

  .hero {
    padding-top: 180px;

    @media screen and (max-width: $mobile-menu-device-width) {
      padding-top: 100px;
    }

    .slogan {
      position: relative;
      text-align: center;
    }

    .subslogan {
      position: relative;
      text-align: center;
      margin-top: -20px;
    }
  }

  .services {
    margin-top: 250px;

    @media screen and (max-width: $mobile-menu-device-width) {
      margin-top: 150px;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .service {
        max-width: 350px;

        .header {
          text-align: center;

          img {
            height: 70px;
          }

          h2 {
            text-transform: uppercase;
            font-family: "Avenir LT Std";
            font-weight: 85;
            margin: 10px 0;
          }
        }

        .writeup {
          text-align: justify;
        }
      }
    }
  }

  .customer-list {
    justify-content: center;
    flex-wrap: wrap;

    .feature {
      margin: 20px;
      max-width: 150px;
    }
  }

  .featured-blog-section {
    .featured-blog-posts {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      .blog-post {
        margin: 0 30px;
        width: calc(33.333% - 60px);

        .image-container {
          text-align: center;
          img {
            width: 200px;
            height: 200px;
          }
        }

        .title {
          font-size: 1.5em;
          font-weight: 45;
          text-align: center;
          margin: 10px 0;
        }

        .description {
          text-align: justify;
        }

        @media screen and (max-width: #{$mobile-menu-device-width}) {
          margin: 20px 0;
          width: 100%;
        }
      }
    }

    .view-all-container {
      margin: 40px 0 20px 0;
    }
  }

  .contact-section {
    margin-top: 60px;
    padding-bottom: 70px;

    h3 {
      margin-top: 0;
    }

    .contact-section-body {
      display: flex;

      .contact-form {
        width: calc(60% - 80px);
        padding: 0 40px;
      }

      .contact-caption {
        width: 40%;
        text-align: justify;
      }

      @media screen and (max-width: $mobile-menu-device-width) {
        flex-wrap: wrap;

        .contact-form {
          width: 100%;
          padding: 0;
        }

        .contact-caption {
          width: 100%;
        }
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
