.services-component {
  .services-post {
    padding-bottom: 0px;
  }
  .services-header {
    text-align: center;
    padding: 96px 120px 96px 120px;
    box-sizing: border-box;
  }
  .services-container {
    padding: 128px 0px;
    .gap-160 {
      display: flex;
      flex-direction: column;
      gap: 160px;
    }

    .general-component-card {
      .how-we-work-button {
        width: 150px;
      }

      .contact-us-button {
        width: 190px;
      }
    }

    &.dark-background {
      background-color: $background;
    }
  }

  @media screen and (max-width: $mobile-menu-device-width) {
    .services-header {
      padding: 130px 16px 130px 16px;
    }
  }
}
