#pages-staff-dashboard {
  .staff-dashboard-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    a {
      display: block;
      width: 150px;
      height: 150px;
      background: #eee;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      -webkit-transition: box-shadow 300ms;
      transition: box-shadow 300ms;

      &:hover {
        background:#ddd;
        box-shadow: 2px 2px 5px #333;
      }

      i {
        font-size: 52px;
        margin-bottom: 20px;
      }

      .link-text {
        text-align: center;
      }
    }
  }
}